<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Инженерные системы</title>
</head>
<body >
  
  <div id="app">
 

    <main class="wrapper wrapper--p404" >
      <div class="p404-bg">
        404
      </div>
       <section class="page-404">
         <h1 class="title page-404__title">
           СТРАНИЦА НЕ НАЙДЕНА
         </h1>
         <a href="./index.html" class="btn btn--white">На главную</a>
       </section>

    </main>
     
  </div>
  <!-- /.app -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</body>
</html>