<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Инженерные системы</title>
</head>
<body>
  
  <div id="app">

    <header class="header">

      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск...">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.png" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon.png" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon.png" alt="EMail">
            </div>
            <a href="mailto:+74996734060" class="contacts-block__email-val email-val">info@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
              </li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <main class="wrapper">

      

        <section class="main"> 
          <div class="container">
            <h1 class="title main__title h1">
              Комплектные поставки технологического оборудования
            </h1>
            <h3 class="subtitle main__subtitle h3">
              для предприятий нефтегазовой и&nbsp;нефтехимической отраслей промышленности
            </h3>
            <div class="main-button-wrapper">
              <button class="btn btn-success main__btn">Подробнее</button>
            </div>
          </div>
          <!-- /.container -->
        </section>


        <section class="catalog-menu"> 

          <div class="container title-block">
            <h2 class="title title--h2 catalog-menu__title">
              Каталог оборудования
            </h2>
            <p class="text catalog-menu__text">
              Поставки оборудованиядля нефтегазовой и нефтехимической отрасли,
              металлургического и энергетического комплекса.
            </p>
            <div class="more catalog-menu__more">
              <a class="more-link" href="#">
                <div class="more-text">Узнать больше</div> 
                <img class="more-arrow" src="assets/img/more-arrow.png" alt="Стрелка"> 
              </a>
            </div>
          </div>
          <!-- /.container title-block-->

          <div class="container items-block">

            <div class="menu-card items-block__menu-card">
              <a href="#" class="menu-card-link menu-card-link--img">
                <img class="menu-card-img" src="assets/img/catalog-menu-1.png" alt="Запорно-регулирующая арматура" >
              </a>
              <a href="#" class="menu-card-link">
                <p class="menu-card-text">
                  Запорно-регулирующая арматура
                </p>
              </a>
            </div>
            <!-- /.menu-card -->

            <div class="menu-card items-block__menu-card">
              <a href="#" class="menu-card-link menu-card-link--img">
                <img class="menu-card-img" src="assets/img/catalog-menu-2.png" alt="Установки рекуперации паров" >
              </a>
              <a href="#" class="menu-card-link">
                <p class="menu-card-text">
                  Установки рекуперации паров
                </p>
              </a>
            </div>
            <!-- /.menu-card -->

            <div class="menu-card items-block__menu-card">
              <a href="#" class="menu-card-link menu-card-link--img">
                <img class="menu-card-img" src="assets/img/catalog-menu-3.png" alt="Контрольно-измерительные приборы" >
              </a>
              <a href="#" class="menu-card-link">
                <p class="menu-card-text">
                  Контрольно-измерительные приборы
                </p>
              </a>
            </div>
            <!-- /.menu-card -->

            <div class="menu-card items-block__menu-card">
              <a href="#" class="menu-card-link menu-card-link--img">
                <img class="menu-card-img" src="assets/img/catalog-menu-4.png" alt="Сливо-наливное оборудование" >
              </a>
              <a href="#" class="menu-card-link">
                <p class="menu-card-text">
                  Сливо-наливное оборудование
                </p>
              </a>
            </div>
            <!-- /.menu-card -->
            
            <div class="menu-card items-block__menu-card">
              <a href="#" class="menu-card-link menu-card-link--img">
                <img class="menu-card-img" src="assets/img/catalog-menu-5.png" alt="Насосное оборудование" >
              </a>
              <a href="#" class="menu-card-link">
                <p class="menu-card-text">
                  Насосное оборудование
                </p>
              </a>
            </div>
            <!-- /.menu-card -->

            <div class="menu-card items-block__menu-card">
              <a href="#" class="menu-card-link menu-card-link--img">
                <img class="menu-card-img" src="assets/img/catalog-menu-6.png" alt="Оборудование для комплексной нефтеподготовки" >
              </a>
              <a href="#" class="menu-card-link">
                <p class="menu-card-text">
                  Оборудование для комплексной нефтеподготовки
                </p>
              </a>
            </div>
            <!-- /.menu-card -->

            <div class="menu-card items-block__menu-card">
              <a href="#" class="menu-card-link menu-card-link--img">
                <img class="menu-card-img" src="assets/img/catalog-menu-7.png" alt="Установки осушки сжиженного газа" >
              </a>
              <a href="#" class="menu-card-link">
                <p class="menu-card-text">
                  Установки осушки сжиженного газа
                </p>
              </a>
            </div>
            <!-- /.menu-card -->
            <div class="menu-card items-block__menu-card">


          </div>
          <!-- /.items-block -->
        </section>
        <!-- /.catalog-menu -->


        <section class="services-menu">
          <div class="container">
            <h2 class="title title--h2 services-menu__title">
              Услуги
            </h2>
            
            <div class="service-card services-menu__service-card">
              <a href="" class="service-card-link">
                <div class="service-card-block">
                  <div class="service-card-image">
                    <img class="service-card-img" src="assets/img/service-1.png" alt="Услуга">
                  </div>
                  <p class="service-card-text">
                    Комплектные поставки
                    технологического 
             оборудования 
                  </p>       
                </div>
              </a>
            </div>
            <!-- /.service-card-->

            <div class="service-card services-menu__service-card">
              <a href="" class="service-card-link">
                <div class="service-card-block">
                  <div class="service-card-image">
                    <img class="service-card-img" src="assets/img/service-2.png" alt="Услуга">
                  </div>
                  <p class="service-card-text">
                    Шеф-монтажные и
                    пусконаладочные 
                    работы
                  </p>       
                </div>
              </a>
            </div>
            <!-- /.service-card-->

            <div class="service-card services-menu__service-card">
              <a href="" class="service-card-link">
                <div class="service-card-block">
                  <div class="service-card-image">
                    <img class="service-card-img" src="assets/img/service-3.png" alt="Услуга">
                  </div>
                  <p class="service-card-text">
                    Разработка рабоче-
                    конструкторской 
                    документации (РКД)
                  </p>       
                </div>
              </a>
            </div>
            <!-- /.service-card-->

          </div>
        </section>
        <!-- /.services-menu -->

        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="8 (888) 888-88-88">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку персональных данных
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <input type="submit" class="btn btn-success form-block__btn" />
                  </div>

                </div>
                <!-- /.form-block-btns --> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск...">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.png" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon.png" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon.png" alt="EMail">
                </div>
                <a href="mailto:+74996734060" class="contacts-block__email-val email-val">info@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo.png" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo.png" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="https://just-studio.ru/" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>
    </footer>

  </div>
  <!-- /.app -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</body>
</html>