<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 
   
      
  <title>Инженерные системы</title>
</head>
<body>
  <div id="app">

    <header class="header">

      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск...">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.png" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon.png" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon.png" alt="EMail">
            </div>
            <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
              </li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <header class="header-mob"> 
      <div class="container">
        <div class="header-mob-logo">
          <img src="assets/img/logo.png" alt="Logo">
        </div>
        <div class="burger-wrapper">
          <div class="burger header-mob__burger" id="burger">
            <input type="checkbox" />
            <span id="burger-span1"></span>
            <span id="burger-span2"></span>
            <span id="burger-span3"></span>
          </div>
          <!-- /.burger header_mob__burger -->
        </div> 
      </div>
      <!-- /.container -->


      <nav class="header-mob__nav nav" id="mob-menu"> 
        <div class="container">
          <menu class="nav-menu menu" >
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
              </li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </div>
        <!-- /.container --> 
      </nav>
      <!-- /. nav-->
    </header>

    <main class="wrapper">

      

        <section class="main main--fittings"> 
          <div class="container">
            <h1 class="title main__title h1">
              Запорно-регулирующая<br>арматура
            </h1>
          </div>
          <!-- /.container -->
        </section>
 
        
        <div class="container">
          <div class="fittings-descr">
            <div class="fittings-descr-text">
              <p class="text fittings-descr__text fittings-descr__text--1">
                ООО «Инженерные Системы» осуществляет поставки широкого спектра запорно-регулирующей
                арматуры для нефтегазового комплекса.
              </p>
              <div class="fittings-descr-logo fittings-descr-logo--tablet">
                <img src="assets/img/fittings-logo.png" alt="Лого" class="fittings-descr-logo-img">
              </div>
              <br>
              <p class="text fittings-descr__text fittings-descr__text--2">
                Нашим основным партнером является Новый Арматурный Завод (ГК «ИстЭнергоГрупп») –
                отечественный производитель высококачественной трубопроводной арматуры, в линейке
                которого – противовыбросовое оборудование, устьевое оборудование, задвижки, запорные
                клапаны, обратные клапаны, затворы дисковые, краны шаровые, установки РОУ/БРОУ.
              </p>
            </div>
            <div class="fittings-descr-logo hide-mob hide-tablet">
              <img src="assets/img/fittings-logo.png" alt="Лого" class="fittings-descr-logo-img">
            </div>
          </div>
        </div>

        <section class="devices">
          <div class="container">
            <h2 class="title title--h2 devices__title">
              Запорно-регулирующая арматура:
            </h2>


            <div class="devices-menu devices__devices-menu">
              <div class="devices-menu-row devices-menu-row--three devices-menu-row--left">
                <a href="#needle_valve" class="devices-menu-a">
                  Игольчатые клапаны
                </a>
                <a href="#backwords_valve" class="devices-menu-a">
                  Обратные клапаны
                </a>
                <a href="#ball_valve" class="devices-menu-a">
                  Шаровые краны
                </a>
              </div>
              <!-- /.devices-menu-row -->
              <div class="devices-menu-row devices-menu-row--three devices-menu-row--left">
                
                <a href="#stop_valve" class="devices-menu-a">
                  Запорные и запорно-регулирующие клапаны
                </a>
                <a href="#gate" class="devices-menu-a">
                  Затворы
                </a>
                <a href="#gate_valve" class="devices-menu-a">
                  Задвижки
                </a>
              </div>
              <!-- /.devices-menu-row -->
            </div>
            <!-- /.devices-menu --> 

          </div>
          <!-- /.comtainer -->
        </section>
        <!-- /.devices -->

        <section class="devices-items fittings__devices-items ">
          <div class="container">

            <div class="devices-items-item" id="stop_valve">
              <h3 class="title title--h2 devices-items__title">
                Запорные и запорно&#8209;регулирующие клапаны
              </h3>
              <div class="devices-items-info ">
                

                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top" colspan="3">Описание и технические характеристика</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 210
                      </td>
                      <td class="table-td">
                        Клапаны запорные и запорно-регулирующие
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 211
                      </td>
                      <td class="table-td">
                        Клапаны запорные и запорно-регулирующие
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 210
                      </td>
                      <td class="table-td">
                        Клапаны запорные и запорно-регулирующие высокого давления
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/fittings-img-1.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->
            
            <div class="devices-items-item" id="needle_valve">
              <h3 class="title title--h2 devices-items__title">
                Игольчатые клапаны
              </h3>
              <div class="devices-items-info ">
                

                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top" colspan="3">Описание и технические характеристика</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 260
                      </td>
                      <td class="table-td">
                        Игольчатые клапаны
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 261
                      </td>
                      <td class="table-td">
                        Игольчатые клапаны
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                   
                   
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/fittings-img-2.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->


            <div class="devices-items-item" id="backwords_valve">
              <h3 class="title title--h2 devices-items__title">
                Обратные клапаны
              </h3>
              <div class="devices-items-info ">
                

                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top" colspan="3">Описание и технические характеристика</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 220, НАЗ 221
                      </td>
                      <td class="table-td">
                        Клапаны обратные поворотные
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 220, НАЗ 221
                      </td>
                      <td class="table-td">
                        Клапаны обратные поворотные
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                   
                   
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/fittings-img-3.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->

            <div class="devices-items-item" id="ball_valve">
              <h3 class="title title--h2 devices-items__title">
                Шаровые краны
              </h3>
              <div class="devices-items-info ">
                

                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top" colspan="3">Описание и технические характеристика</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 310, НАЗ 311
                      </td>
                      <td class="table-td">
                        Шаровые краны литые с плавающим шаром
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 310, НАЗ 311
                      </td>
                      <td class="table-td">
                        Шаровые краны кованые с плавающим шаром
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 310, НАЗ 311
                      </td>
                      <td class="table-td">
                        Шаровые краны кованые цапфовые
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/fittings-img-4.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->

            <div class="devices-items-item" id="gate_valve">
              <h3 class="title title--h2 devices-items__title">
                Задвижки
              </h3>
              <div class="devices-items-info ">
                

                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top" colspan="3">Описание и технические характеристика</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 110, НАЗ 111
                      </td>
                      <td class="table-td">
                        Задвижки клиновые
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 110, НАЗ 111
                      </td>
                      <td class="table-td">
                        Задвижки клиновые высокого давления
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 110, НАЗ 111
                      </td>
                      <td class="table-td">
                        Задвижки клиновые кованые
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 110, НАЗ 111
                      </td>
                      <td class="table-td">
                        Задвижки параллельные фонтанные
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                   
                   
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/fittings-img-5.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->

            <div class="devices-items-item" id="gate">
              <h3 class="title title--h2 devices-items__title">
                Затворы
              </h3>
              <div class="devices-items-info ">
                

                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top" colspan="3">Описание и технические характеристика</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 410, НАЗ 411
                      </td>
                      <td class="table-td">
                        Затворы дисковые межфланцевые центричные
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 410, НАЗ 411
                      </td>
                      <td class="table-td">
                        Затворы дисковые межфланцевые центричные
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        НАЗ 410, НАЗ 411
                      </td>
                      <td class="table-td">
                        Затворы дисковые фланцевые центричные
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        НАЗ 410, НАЗ 411
                      </td>
                      <td class="table-td">
                        Затворы дисковые фланцевые трёхэксцентриковые
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                   
                   
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/fittings-img-6.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->

          </div>
          <!-- /.cntainer -->
        </section>
        <!-- /.devices-items -->
 
         

        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="8 (888) 888-88-88">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку персональных данных
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <input type="submit" class="btn btn-success form-block__btn" />
                  </div>

                </div>
                <!-- /.form-block-btns --> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.form -->

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск...">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.png" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon-footer.svg" alt="EMail">
                </div>
                <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="https://just-studio.ru/" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer -->

    <footer class="footer footer-mob"> 
       
      <div class="container">
        <div class="footer-info"> 

          <div class="footer-copyright copyright">
            <div class="nav-logo">
              <img src="assets/img/logo-white.png" alt="Logo">
            </div>
            <div class="copyright-rights">
              © 2003–2020 
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
            <!-- /.menu-logo -->
            <div class="design">
              <a href="https://just-studio.ru/" class="design-studio">
                Design by Just Studio
              </a>
            </div>
            
            
          </div>
          <!-- /.footer-copyright -->

          <div class="footer-menu">

            <div class="footer__menu menu">
              <menu class="nav-menu menu" >
                <ul class="menu-ul">
                  <li class="menu-li"><a href="#">О компании</a></li>
                  <li class="menu-li menu-dropdown">
                    <a href="#">Оборудование</a>
                  </li>
                  <li class="menu-li"><a href="#">Услуги</a></li>
                  <li class="menu-li"><a href="#">Техническая документация</a></li>
                  <li class="menu-li"><a href="#">Контакты</a></li>
                </ul>
                <!-- <ul class="menu-ul menu-ul-child">
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                </ul> -->
              </menu>
            </div>
            <!-- /.search header-search --> 
          </div>
          <!-- /.footer-contacts --> 

          <div class="footer-address">
            <div class="contacts-block__tel tel footer-address-item">
              <div class="contacts-block__tel-icon tel-icon">
                <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
              </div>
              <div class="contacts-block__tel-val tel-val">
                <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
              </div>
            </div> 
            <div class="contacts-block__address address footer-address-item">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__email email footer-address-item">
              <div class="contacts-block__email-icon email-icon">
                <img src="assets/img/email-icon-footer.svg" alt="EMail">
              </div>
              <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
            </div>
            <div class="contacts-block__politics politics footer-address-item">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->

          
        </div>
        <!-- /.footer-info -->

      </div>
      <!-- /.container -->


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer-mob -->

  </div>
  <!-- /.app -->
 
</body>
</html>