<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 
   
      
  <title>Инженерные системы</title>
</head>
<body>
  <div id="app">

    <header class="header">

      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.svg" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call  btn--yellow">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon-footer.svg" alt="EMail">
            </div>
            <a href="mailto:office@engsystems.ru" class="contacts-block__email-val email-val">office@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <a href="" class="nav-logo">
            <img src="assets/img/logo.svg" alt="Logo">
          </a>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <div class="menu-separ"></div>
                <ul class="menu-ul menu-ul-child menu-child menu-child--three"> 
                    <li class="menu-li menu-child-li"><a href="#"> Запорно&#8209;регулирующая арматура</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Сливо&#8209;наливное оборудование</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;осушки&nbsp;сжиженного углеводородного&nbsp;газа</a></li>
                   
                    <li class="menu-li menu-child-li"><a href="#"> Контрольно&#8209;измерительные приборы</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;рекуперации паров</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Оборудование&nbsp;для&nbsp;комплексной нефтепереработки</a></li>
                    
                    <li class="menu-li menu-child-li"><a href="#"> Насосное оборудование</a></li>
                   
                </ul>
              </li>
              <li class="menu-li  menu-dropdown">
                <a href="#">Услуги</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <div class="menu-separ"></div>
                <ul class="menu-ul menu-ul-child menu-child"> 
                    <li class="menu-li menu-child-li"><a href="#"> Комплектные&nbsp;поставки технологического&nbsp;оборудования </a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Шеф&#8209;монтажные&nbsp;и&nbsp;пусконаладочные работы</a></li>
                    <li class="menu-li menu-child-li"><a href="#">Разработка&nbsp;рабочей&#8209;конструкторской документации (РКД)</a></li>
                    
                </ul>
              </li>
              <li class="menu-li">
                <a href="#">Опросные листы</a> 
              </li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <header class="header-mob"> 
      <div class="container">
        <div class="header-mob-logo">
          <img src="assets/img/logo.svg" alt="Logo">
        </div>
        <div class="burger-wrapper">
          <div class="burger header-mob__burger" id="burger">
            <input type="checkbox" />
            <span id="burger-span1"></span>
            <span id="burger-span2"></span>
            <span id="burger-span3"></span>
          </div>
          <!-- /.burger header_mob__burger -->
        </div> 
      </div>
      <!-- /.container -->


      <nav class="header-mob__nav nav" id="mob-menu"> 
        <div class="container">
          <menu class="nav-menu menu" >
            <ul class="menu-ul">
              <li class="menu-li">
                <a href="#">О компании</a>
              </li>
              <li class="menu-li menu-dropdown-mob">
                <a href="#">Оборудование</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <!-- <div class="menu-separ"></div> -->
                <ul class="menu-ul menu-ul-child-mob"> 
                  <li class="menu-li menu-child-li"><a href="#"> Запорно&#8209;регулирующая арматура</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Сливо&#8209;наливное оборудование</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;осушки&nbsp;сжиженного углеводородного&nbsp;газа</a></li>
                  
                  <li class="menu-li menu-child-li"><a href="#"> Контрольно&#8209;измерительные приборы</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;рекуперации паров</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Оборудование&nbsp;для&nbsp;комплексной нефтепереработки</a></li>
                  
                  <li class="menu-li menu-child-li"><a href="#"> Насосное оборудование</a></li>
                </ul>
              </li>
              <li class="menu-li menu-dropdown-mob">
                <a href="#">Услуги</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <!-- <div class="menu-separ"></div> -->
                <ul class="menu-ul menu-ul-child-mob"> 
                  <li class="menu-li menu-child-li"><a href="#"> Комплектные&nbsp;поставки технологического&nbsp;оборудования </a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Шеф&#8209;монтажные&nbsp;и&nbsp;пусконаладочные работы</a></li>
                  <li class="menu-li menu-child-li"><a href="#">Разработка&nbsp;рабочей&#8209;конструкторской документации (РКД)</a></li>
                </ul>
              </li>
              <li class="menu-li">
                <a href="#">Опросные листы</a>
              </li>
              <li class="menu-li">
                <a href="#">Контакты</a>
              </li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </div>
        <!-- /.container --> 
      </nav>
      <!-- /. nav-->
    </header>

    <main class="wrapper">

      

        <section class="main main--pumps"> 
          <div class="container">
            <h1 class="title main__title h1">
              Центробежные насосы для нефтяной, нефтехимической и газовой промышленности (API Standard 610 / ISO 13709)
            </h1>
          </div>
          <!-- /.container -->
        </section>
 
        
        <div class="container">
          <p class="text pumps-descr">
            В нефтяной, нефтехимической и газовой отраслях требуется применение сертифицированного насосного оборудования,
            <br class="hide-mob hide-tablet">которое соответствует международным стандартам. 
          </p><br>
          <p class="text">
            Стандарт API 610 соответствует международному стандарту ISO 13709. Данный стандарт описывает требования к насосному оборудованию и его рабочим характеристикам. Основной областью применения данных насосов является нефте-
            <br class="hide-mob hide-tablet">и газопереработка, химическая промышленность и объекты нефтедобычи.
          </p><br>
          <p class="text">
            Достоинство насосов по стандарту API 610 состоит в том, что предусматривает максимальный срок службы насосного оборудования — не менее 20 лет при межремонтном ресурсе 3 года. Корпус насоса способен выдерживать огромные нагрузки
            <br class="hide-mob hide-tablet">при температурах не менее 150 градусов и при давлении до 600 бар. При этом плотность перекачиваемых жидкостей может быть очень высокой.
          </p><br>
          <p class="text">
            Стандарт API 610 может быть применен к различным насосам: консольным, вертикальным, двухопорным, полупогружным, одно- или многоступенчатым, двухкорпусным. В качестве материала корпуса и проточной части используются чугун, хромистая, углеродистая, нержавеющая сталь,а также различные сплавы под любые задачи и требования заказчиков.
          </p>
        </div>
        

        <section class="pumps-types">
          <div class="container">
            <div class="pumps-types-wrapper">

            
              <div class="devices pumps-types__devices">
                  <h2 class="title title--h2 devices__title">
                    Типы насосов по стандарту API 610:
                  </h2>
                  <div class="devices-menu devices__devices-menu">
                    <div class="devices-menu-row devices-menu-row--two devices-menu-row--left">
                      <a href="#drain-bb1" class="devices-menu-a">
                        Двухопорный насос 
                        с осевым разъемом корпуса Тип ВВ-1
                      </a>
                      <a href="#drain-bb3" class="devices-menu-a">
                        Двухопорный многоступенчатый насос
                        с горизонтальным осевым разъемом корпуса Тип ВВ-3                      
                      </a>
                    </div>
                    <!-- /.devices-menu-row -->
                    <div class="devices-menu-row devices-menu-row--two devices-menu-row--left">
                      
                      <a href="#drain-bb2" class="devices-menu-a">
                        Двухопорный насос
                        с радиальным разъемом корпуса
                        Тип ВВ-2                      
                      </a>
                      <a href="#drain-oh2" class="devices-menu-a">
                        Одноступенчатый насос консольного типа Тип ОН-2
                      </a>
                    </div>
                    <!-- /.devices-menu-row -->
                    <div class="devices-menu-row devices-menu-row--two devices-menu-row--left">
                      
                      <a href="#drain-bb5" class="devices-menu-a">
                        Центробежный многоступенчатый двухкорпусной насос Тип ВВ5
                    
                      </a>
                      <span class="devices-menu-a"></span>
                    </div>
                    <!-- /.devices-menu-row -->
                  </div>
                  <!-- /.devices-menu --> 
              </div>
              <!-- /.devices --> 

              <div class="pumps-types-questionnaire">
                <div class="questionnaire questionnaire--yellow pumps-types__questionnaire">
                  <div class="questionnaire-text">
                    <h3 class="title title--h3 title--white questionnaire__title">
                      Скачать опросный лист:
                    </h3>
                  </div>
                  <a href="#" class="btn btn--main--trans questionnaire__btn">
                    Скачать PDF
                  </a>
                </div>
                <!-- /.questionnaire-->
              </div>
              <!-- /.pumps-types-questionnaire -->

            </div>
            <!-- /.pumps-types-wrapper -->

            <div class="questionnaire devices-items__questionnaire questionnaire--tablet">
              <div class="questionnaire-text">
                <h3 class="title title--h3 title--white questionnaire__title">
                  Ознакомиться <br>с референс-листом компании:
                </h3> 
              </div>
              <a href="#" class="btn btn--default questionnaire__btn">
                Скачать PDF
              </a>
            </div>
            <!-- /.questionnaire-->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.pumps-types -->

 

        

        <section class="devices-items pumps__devices-items ">
          <div class="container">

            <div class="devices-items-item" id="drain-oh2">

              <div class="devices-items-info ">
                <h3 class="title title--h2 devices-items__title">
                  Одноступенчатый насос консольного типа Тип ОН-2
                </h3>
                <br>
                <p class="text">
                  Одноступенчатый консольный с радиальным разъемом корпуса насос <br class="hide-mob hide-tablet"> 
                  разработан для транспортировки технической воды, углеводородов, <br class="hide-mob hide-tablet">
                  продуктов химии и технологических продуктов различного применения <br class="hide-mob hide-tablet">
                  на НПЗ, предприятиях химической и нефтехимической отраслей. 
                </p>
                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top">Преимущества</th>
                  </thead>
                  <tbody class="table-body"> 
                     
                    <tr class="table-tr">
                      <td class="table-td" >
                        Возможность быстрого запуска и остановки;
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Высокая точность регулировки подачи перекачиваемой среды;
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Длительный межремонтный цикл работы с назначенным сроком службы 20 лет;
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Высокая ремонтопригодность, легкость в техническом обслуживании;
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Возможность перекачивать вызрывопожароопасные и химически агрессивные среды;
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Высокий КПД;
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Широкий диапазон работы насоса до 2850 м<sup>3</sup>/ч с напором до 350 м
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Работа на высоких температурах до 425 °С
                      </td> 
                    </tr>
  
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/pump-1.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->

            <div class="devices-items-item" id="drain-bb1">

              <div class="devices-items-info ">
                <h3 class="title title--h2 devices-items__title">
                  Двухопорный насос с осевым разъемом корпуса Тип ВВ-1
                </h3>
                <br>
                <p class="text">
                  Рабочее колесо двустороннего входа. Корпус выполнен в виде двойной 
                  спирали, имеет крепление на оси, в двух подшипниковых узлах. Насос 
                  был специально разработан для работы в трубопроводных системах, 
                  но также существует версия, полностью соответствующая требованиям
                   стандарта API 610. Насос предназначен для работы в трубопроводных 
                   системах, системах пожаротушения, а такжедля создания повышенного 
                   давления. Насос сконструирован с учетом требований максимальной 
                   надежности и простоты эксплуатации.
                </p>
                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top">Преимущества</th>
                  </thead>
                  <tbody class="table-body"> 

                    <tr class="table-tr"> 
                      <td class="table-td">
                        Насосы выполнены в полном соответствии со стандартом API 610
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Осевой баланс увеличивает срок службы, снижает эксплуатационные затраты
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Высокая производительность до 15 000 м<sup>3</sup>/ч с напором до 250 м
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Жесткая и прочная конструкция
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Полная стандартизация для широкой сферы применения
                      </td> 
                    </tr>
                     
  
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/pump-2.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->


            <div class="devices-items-item" id="drain-bb2">

              <div class="devices-items-info ">
                <h3 class="title title--h2 devices-items__title">
                  Двухопорный насос 
                  <br class="hide-mob hide-tablet">с радиальным разъемом корпуса Тип ВВ-2
                </h3>
                <br>
                <p class="text">
                  Горизонтальный двухступенчатый насос с радиальным разъемом 
                  корпуса, двухопорные. Насос предназначен для работы в условиях 
                  высоких давлений. Фланцы ориентированы вверх. Насос монтируются 
                  по центральной оси, предназначен для тяжелых условий эксплуатации, 
                  исполнение полностью соответствует стандарту ISO 13709 – API 610. 
                  Для понижения значений требуемого кавитационного запаса насос 
                  может выполняться с рабочими колесами первой ступени 
                  двустороннего входа.
                </p>
                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top">Преимущества</th>
                  </thead>
                  <tbody class="table-body">  

                    <tr class="table-tr"> 
                      <td class="table-td">
                        Насосы выполнены в полном соответствии со стандартом API 610
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Осевой баланс увеличивает срок службы, снижает эксплуатационные затраты
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Высокая производительность до 2500 м<sup>3</sup>/ч с напором до 750 м
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Рабочее давление до 80 бар
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Высокие рабочие температуры до 450 °С
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Жесткая и прочная конструкция
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Полная стандартизация для широкой сферы применения
                      </td> 
                    </tr>
                      
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/pump-3.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->

            <div class="devices-items-item" id="drain-bb3">

              <div class="devices-items-info ">
                <h3 class="title title--h2 devices-items__title">
                  Двухопорный многоступенчатый насос с горизонтальным осевым разъемом корпуса Тип ВВ-3
                </h3>
                <br>
                <p class="text">
                  Многоступенчатый насос с горизонтальным разъемом корпуса, однокорпусной, для высоких давлений, с рабочими колесами, расположенными симметрично. Насос выполнен в соответствии
                  с требованиями стандарта API 610. Доступны различные комбинации размеров и материальных исполнений, пригодные для использования в широком диапазоне процессов
                  и промышленных применений. Ряд данного типа насосов разработан для непрерывной использования
                  <br class="hide-mob hide-tablet">во всех процессах нефтепереработки, нефтехимической, химической
                  <br class="hide-mob hide-tablet">и основной промышленности. Насосы предназначены для тяжелых условий работы.
                </p>
                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top">Преимущества</th>
                  </thead>
                  <tbody class="table-body"> 
                    <tr class="table-tr"> 
                      <td class="table-td">
                        Высокая производительность, жесткая и прочная конструкция
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Широкой диапазон производительности от 10 – 2800 м<sup>3</sup>/ч с напором до 2500 м 
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Рабочее давление до 275 бар
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Симметричное расположение рабочих колес для осевого баланса
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Статически и динамически сбалансированные рабочие колеса
                      </td>  
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/pump-4.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->

            <div class="devices-items-item" id="drain-bb5">

              <div class="devices-items-info ">
                <h3 class="title title--h2 devices-items__title">
                  Центробежный многоступенчатый двухкорпусной насос Тип ВВ5
                </h3>
                <br>
                <p class="text">
                  Многоступенчатый центробежный насос двухкорпусный,
                  с радиальным торцевым разъемом предназначен для перекачивания чистых
                  <br class="hide-mob hide-tablet">или слегка загрязненных сред, а также химически нейтральных 
                  <br class="hide-mob hide-tablet">и коррозионных жидкостей, а также в многочисленных процессах 
                  <br class="hide-mob hide-tablet">как первичной, так и вторичной переработки нефти, и изготавливаемых 
                  <br class="hide-mob hide-tablet">из нее нефтепродуктов.
                </p>
                <table class="table table--catalog fittings__table fittings__table--first">
                  <thead class="table-head">
                      <th class="table-th-top">Преимущества</th>
                  </thead>

                  <tbody class="table-body"> 
                    <tr class="table-tr"> 
                      <td class="table-td">
                        Высокая производительность, жесткая и прочная конструкция 
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td" >
                        Широкой диапазон производительности от 12,5 до 600 м<sup>3</sup>/ч с напором до 4000 м
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Рабочее давление до 40 бар
                      </td> 
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Температура жидкости, перекачиваемой насосом: от -45 до + 450 °С
                      </td> 
                    </tr>

                    <tr class="table-tr">
                      <td class="table-td " >
                        Возможность перекачивать высоковязкие жидкости до 300 сСт
                      </td>  
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Максимальная скорость ротора до 6000 об/мин
                      </td>  
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td " >
                        Высокий КПД
                      </td>  
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/pump-5.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->
             
          </div>
          <!-- /.cntainer -->
        </section>
        <!-- /.devices-items -->


        <section class="partners pumps__partners">
          <div class="container">
            <h2 class="title title--h2 partners__title">
              Производители насосов
            </h2> 
            <div class="img-links partners__img-links">
              <div class="img-links-row img-links-row--partners">
                <a class="img-links-a">
                  <img src="assets/img/pump-create-logo-1.png" alt="Ссылка" class="img-links-img">
                </a>
                <a class="img-links-a">
                  <img src="assets/img/pump-create-logo-2.png" alt="Ссылка" class="img-links-img">
                </a>
                <a class="img-links-a">
                  <img src="assets/img/pump-create-logo-3.png" alt="Ссылка" class="img-links-img">
                </a>
                <a class="img-links-a">
                  <img src="assets/img/pump-create-logo-4.png" alt="Ссылка" class="img-links-img">
                </a>
              </div>
              <div class="img-links partners__img-links">
                <div class="img-links-row img-links-row--partners">
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-5.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-6.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-7.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-8.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-9.png" alt="Ссылка" class="img-links-img">
                  </a>
                </div>
              </div>
              <div class="img-links partners__img-links">
                <div class="img-links-row img-links-row--partners">
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-10.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-11.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-12.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-13.png" alt="Ссылка" class="img-links-img">
                  </a>
                  <a class="img-links-a">
                    <img src="assets/img/pump-create-logo-14.png" alt="Ссылка" class="img-links-img">
                  </a>
                </div>
              </div> 
            </div>
            <!-- /.img-links partners__img-links -->
          </div>
          <!-- /.container -->
        </section>
        <!-- /.partners -->
 
         

        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="8 (888) 888-88-88">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку <a href="policy.html">персональных данных</a>
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <input type="submit" class="btn btn-success form-block__btn" />
                  </div>

                </div>
                <!-- /.form-block-btns --> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.form -->

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.svg" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.svg" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call  btn--yellow">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon-footer.svg" alt="EMail">
                </div>
                <a href="mailto:office@engsystems.ru" class="contacts-block__email-val email-val">office@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <p class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                <p/>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="https://just-studio.ru/" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer -->

    <footer class="footer footer-mob"> 
       
      <div class="container">
        <div class="footer-info"> 

          <div class="footer-copyright copyright">
            <div class="nav-logo">
              <img src="assets/img/logo-white.svg" alt="Logo">
            </div>
            <div class="copyright-rights">
              © 2003–2020 
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
            <!-- /.menu-logo -->
            <div class="design">
              <a href="https://just-studio.ru/" class="design-studio">
                Design by Just Studio
              </a>
            </div>
            
            
          </div>
          <!-- /.footer-copyright -->

          <div class="footer-menu">

            <div class="footer__menu menu">
              <menu class="nav-menu menu" >
                <ul class="menu-ul">
                  <li class="menu-li"><a href="#">О компании</a></li>
                  <li class="menu-li menu-dropdown">
                    <a href="#">Оборудование</a>
                  </li>
                  <li class="menu-li"><a href="#">Услуги</a></li>
                  <li class="menu-li"><a href="#">Опросные листы</a></li>
                  <li class="menu-li"><a href="#">Контакты</a></li>
                </ul>
                <!-- <ul class="menu-ul menu-ul-child">
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                </ul> -->
              </menu>
            </div>
            <!-- /.search header-search --> 
          </div>
          <!-- /.footer-contacts --> 

          <div class="footer-address">
            <div class="contacts-block__tel tel footer-address-item">
              <div class="contacts-block__tel-icon tel-icon">
                <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
              </div>
              <div class="contacts-block__tel-val tel-val">
                <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
              </div>
            </div> 
            <div class="contacts-block__address address footer-address-item">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__email email footer-address-item">
              <div class="contacts-block__email-icon email-icon">
                <img src="assets/img/email-icon-footer.svg" alt="EMail">
              </div>
              <a href="mailto:office@engsystems.ru" class="contacts-block__email-val email-val">office@engsystems.ru</a>
            </div>
            <div class="contacts-block__politics politics footer-address-item">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->

          
        </div>
        <!-- /.footer-info -->

      </div>
      <!-- /.container -->


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer-mob -->

  </div>
  <!-- /.app -->
 
</body>
</html>