<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Инженерные системы</title>
</head>
<body>
  
  <div id="app">

    <header class="header">

      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.svg" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call  btn--yellow">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon-footer.svg" alt="EMail">
            </div>
            <a href="mailto:office@engsystems.ru" class="contacts-block__email-val email-val">office@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <a href="" class="nav-logo">
            <img src="assets/img/logo.svg" alt="Logo">
          </a>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <div class="menu-separ"></div>
                <ul class="menu-ul menu-ul-child menu-child menu-child--three"> 
                    <li class="menu-li menu-child-li"><a href="#"> Запорно&#8209;регулирующая арматура</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Сливо&#8209;наливное оборудование</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;осушки&nbsp;сжиженного углеводородного&nbsp;газа</a></li>
                   
                    <li class="menu-li menu-child-li"><a href="#"> Контрольно&#8209;измерительные приборы</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;рекуперации паров</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Оборудование&nbsp;для&nbsp;комплексной нефтепереработки</a></li>
                    
                    <li class="menu-li menu-child-li"><a href="#"> Насосное оборудование</a></li>
                   
                </ul>
              </li>
              <li class="menu-li  menu-dropdown">
                <a href="#">Услуги</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <div class="menu-separ"></div>
                <ul class="menu-ul menu-ul-child menu-child"> 
                    <li class="menu-li menu-child-li"><a href="#"> Комплектные&nbsp;поставки технологического&nbsp;оборудования </a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Шеф&#8209;монтажные&nbsp;и&nbsp;пусконаладочные работы</a></li>
                    <li class="menu-li menu-child-li"><a href="#">Разработка&nbsp;рабочей&nbsp;конструкторской документации (РКД)</a></li>
                    
                </ul>
              </li>
              <li class="menu-li">
                <a href="#">Опросные листы</a> 
              </li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <header class="header-mob"> 
      <div class="container">
        <div class="header-mob-logo">
          <img src="assets/img/logo.svg" alt="Logo">
        </div>
        <div class="burger-wrapper">
          <div class="burger header-mob__burger" id="burger">
            <input type="checkbox" />
            <span id="burger-span1"></span>
            <span id="burger-span2"></span>
            <span id="burger-span3"></span>
          </div>
          <!-- /.burger header_mob__burger -->
        </div> 
      </div>
      <!-- /.container -->


      <nav class="header-mob__nav nav" id="mob-menu"> 
        <div class="container">
          <menu class="nav-menu menu" >
            <ul class="menu-ul">
              <li class="menu-li">
                <a href="#">О компании</a>
              </li>
              <li class="menu-li menu-dropdown-mob">
                <a href="#">Оборудование</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <!-- <div class="menu-separ"></div> -->
                <ul class="menu-ul menu-ul-child-mob"> 
                  <li class="menu-li menu-child-li"><a href="#"> Запорно&#8209;регулирующая арматура</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Сливо&#8209;наливное оборудование</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;осушки&nbsp;сжиженного углеводородного&nbsp;газа</a></li>
                  
                  <li class="menu-li menu-child-li"><a href="#"> Контрольно&#8209;измерительные приборы</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;рекуперации паров</a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Оборудование&nbsp;для&nbsp;комплексной нефтепереработки</a></li>
                  
                  <li class="menu-li menu-child-li"><a href="#"> Насосное оборудование</a></li>
                </ul>
              </li>
              <li class="menu-li menu-dropdown-mob">
                <a href="#">Услуги</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <!-- <div class="menu-separ"></div> -->
                <ul class="menu-ul menu-ul-child-mob"> 
                  <li class="menu-li menu-child-li"><a href="#"> Комплектные&nbsp;поставки технологического&nbsp;оборудования </a></li>
                  <li class="menu-li menu-child-li"><a href="#"> Шеф&#8209;монтажные&nbsp;и&nbsp;пусконаладочные работы</a></li>
                  <li class="menu-li menu-child-li"><a href="#">Разработка&nbsp;рабочей&nbsp;конструкторской документации (РКД)</a></li>
                </ul>
              </li>
              <li class="menu-li">
                <a href="#">Опросные листы</a>
              </li>
              <li class="menu-li">
                <a href="#">Контакты</a>
              </li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </div>
        <!-- /.container --> 
      </nav>
      <!-- /. nav-->
    </header>
 

    <main class="wrapper">

      

        <section class="main main--contacts"> 
          <!-- <div id="video-bg"> -->
            
            <div class="container">
              <h1 class="title main__title h1">
                Контакты
              </h1>  
            </div>
            <!-- /.container --> 
        </section> 
        
        
        <section class="contacts">
          <div class="container">

            <div class="contacts-info">
              <div class="contacts-item contacts-tel">
                <div class="contacts-icon">
                  <img src="assets/img/tel-icon-black.svg" alt="icon">
                </div>
                <div class="contacts-value">
                  <a href="tel:+74996734060">+7 (499) 673-40-60  </a>
                </div>
              </div>
              <div class="contacts-item contacts-email">
                <div class="contacts-icon">
                  <img src="assets/img/email-icon-black.svg" alt="icon">
                </div>
                <div class="contacts-value">
                  <a href="mailto:office@engsystems.ru">office@engsystems.ru</a>
                </div>
              </div>
              <div class="contacts-item contacts-address">
                <div class="contacts-icon">
                  <img src="assets/img/address-logo-black.svg" alt="icon">
                </div>
                <div class="contacts-value">
                  <a>127644, г. Москва, ул. Ижорская, д. 15</a>
                </div>
              </div>
            </div>
            <!-- /.contacts-info -->
            <div class="contacts-map hide-tablet hide-mob">
              <!-- <img class="hide-tablet hide-mob" src="assets/img/map.jpg" alt="map"> -->
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3895f8c78886fa4836505a2efb8211c9d2c661b53d211d5272050e3306271d7a&amp;width=550&amp;height=340&amp;lang=ru_RU&amp;scroll=true"></script>
              <!-- <img class="contacts-map-img hide-desktop" src="assets/img/map-tablet.jpg" alt="map"> -->
            </div>
            <div class="contacts-map hide-desktop">
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5d79139832c8a4b0ce525088fd97ce387f145338f7f0fe3ec049c0c6895a572d&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>

            
            <!-- /.contacts-map -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.contacts -->
 

        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="+7 (777) 777-77-77">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку <a href="policy.html">персональных данных</a>
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <button type="submit" class="btn btn-success form-block__btn" >Отпарвить</button>
                  </div>

                </div>
                <!-- /.form-block-btns -->

                <div class="form-message"></div> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.svg" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.svg" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call  btn--yellow">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon-footer.svg" alt="EMail">
                </div>
                <a href="mailto:office@engsystems.ru" class="contacts-block__email-val email-val">office@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <p class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                <p/>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="https://just-studio.ru/" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="+7(777) 777 77 77">
            <div class="form-block-controls form-block-controls--modal">

              <label class="checkbox form-block-controls__checkbox">
                <input class="checkbox-input" type="checkbox" required>
                <span class="checkbox-text">
                  Вы согласны на обработку <a href="policy.html">персональных данных</a>
                </span>
              </label>
              <!-- /.checkbox -->
            </div> 
            <button type="submit" class="btn btn-success modal__btn" >Отпарвить</button>
            
            <div class="form-message"></div>
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer -->

    <footer class="footer footer-mob"> 
       
      <div class="container">
        <div class="footer-info"> 

          <div class="footer-copyright copyright">
            <div class="nav-logo">
              <img src="assets/img/logo-white.svg" alt="Logo">
            </div>
            <div class="copyright-rights">
              © 2003–2020 
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
            <!-- /.menu-logo -->
            <div class="design">
              <a href="https://just-studio.ru/" class="design-studio">
                Design by Just Studio
              </a>
            </div>
            
            
          </div>
          <!-- /.footer-copyright -->

          <div class="footer-menu">

            <div class="footer__menu menu">
              <menu class="nav-menu menu" >
                <ul class="menu-ul">
                  <li class="menu-li"><a href="#">О компании</a></li>
                  <li class="menu-li menu-dropdown">
                    <a href="#">Оборудование</a>
                  </li>
                  <li class="menu-li"><a href="#">Услуги</a></li>
                  <li class="menu-li"><a href="#">Опросные листы</a></li>
                  <li class="menu-li"><a href="#">Контакты</a></li>
                </ul>
                <!-- <ul class="menu-ul menu-ul-child">
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                </ul> -->
              </menu>
            </div>
            <!-- /.search header-search --> 
          </div>
          <!-- /.footer-contacts --> 

          <div class="footer-address">
            <div class="contacts-block__tel tel footer-address-item">
              <div class="contacts-block__tel-icon tel-icon">
                <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
              </div>
              <div class="contacts-block__tel-val tel-val">
                <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
              </div>
            </div> 
            <div class="contacts-block__address address footer-address-item">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__email email footer-address-item">
              <div class="contacts-block__email-icon email-icon">
                <img src="assets/img/email-icon-footer.svg" alt="EMail">
              </div>
              <a href="mailto:office@engsystems.ru" class="contacts-block__email-val email-val">office@engsystems.ru</a>
            </div>
            <div class="contacts-block__politics politics footer-address-item">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->

          
        </div>
        <!-- /.footer-info -->

      </div>
      <!-- /.container -->


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="+7(777) 777 77 77">
            <div class="form-block-controls form-block-controls--modal">

              <label class="checkbox form-block-controls__checkbox">
                <input class="checkbox-input" type="checkbox" required>
                <span class="checkbox-text">
                  Вы согласны на обработку <a href="policy.html">персональных данных</a>
                </span>
              </label>
              <!-- /.checkbox -->
            </div> 
            <button type="submit" class="btn btn-success modal__btn" >Отпарвить</button>
            
            <div class="form-message"></div>
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer-mob -->

  </div>
  <!-- /.app -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js" integrity="sha512-D30F0yegJduD5FxOxI3qM1Z0YrbtXE3YLoyNDYvps4Qq63Y0l/ObPmjlsj27pgFx8mLdMQ24I3gGtdYZO741HQ==" crossorigin="anonymous"></script>
</body>
</html>