<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  
  <title>Инженерные системы</title>
</head>
<body>
  <div id="app">

    <header class="header">
      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск...">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.png" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon.png" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon.png" alt="EMail">
            </div>
            <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
              </li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <main class="wrapper">

      

        <section class="main main--steam"> 
          <div class="container">
            <h1 class="title main__title h1">
              Установки рекуперации <br> паров
            </h1>
          </div>
          <!-- /.container -->
        </section>

        <section class="steam">
          <div class="container">

            <p class="text steam__text">
              Системы рекуперации необходимы для улавливания и возвращения паров нефтепродуктов в
              процессе транспортировки, хранения и переработки. Они востребованы на автозаправочных
              станциях, на железнодорожных сливо-наливных эстакадах, при обвязке резервуаров и т.д.
              Благодаря улавливанию и рекуперации (от лат. Recuperatio – «обратное получение») паров будут
              сокращены потери ввиду испарения нефтепродуктов, повышена рентабельность и доходность
              предприятия.
            </p>
            <p class="text steam__text">
              <b>
                ООО «Инженерные системы» предлагает установки рекуперации паров (УРП) с применением
                адсорбционной или мембранной технологии.
              </b>
            </p>

            <div class="box-wrapper">
              <div class="box box--light steam__box">
                <h3 class="title title--h3 box__title">
                  Адсорбционная технология
                </h3>
                <p class="text">
                  Углеродно-вакуумная адсорбция основана на поглощении
                  образующихся при хранении и транспортировке паров углеводородов (адсорбат) на поверхности
                  твёрдых поглотителей (адсорбента). Как правило в роли адсорбента для углеводородов 
                  применяют активированный уголь. Технология отлично зарекомендовала себя как лучшее решение для заполнения автоцистерн, товарных вагонов-цистерн, танкеров, а также резервуаров
                  для хранения.
                </p>
              </div>
              <div class="box box--light steam__box">
                <h3 class="title title--h3 box__title">
                  УРП мембранного типа применяется:
                </h3>
                <ul class="ul">
                  <li class="li">
                    в системах со сложным составом входящей паровоздушной смеси, когда пары нескольких продуктов подлежат рекуперации;
                  </li>
                  <li class="li">
                    в системах, в которых необходимо создание наиболее эффективных и надежных решений
                    для очистки потоков паров продуктов и соблюдение строгих стандартов регулирования
                    выбросов, например, поддержания концентрации бензола в пределах, менее 1 мг/м3;
                  </li>
                  <li class="li">
                    в системах, в которых требуется решение по разделению газов для дальнейшего
                    технологического процесса;
                  </li>
                </ul>
              </div>
            </div>
            <!-- /. box-wrapper-->

            <div class="box box--dark"> 
              <p class="text">
                Вне зависимости от типа поставляемые нами установки соответствуют требованиям ГОСТ РФ и
                международных стандартов, признанных в нефтяной и газовой промышленности: ASME VIII, ASME
                B31.3, EN 60079 & EN 1127, а также требованиям в области здравоохранения и безопасности
                труда, установленным российскими и европейскими стандартами.
              </p>
            </div>
            
          </div>
          <!-- /.container -->
        </section>
        <!-- /.steam -->

        <section class="lists">
          <div class="container">

            <div class="box-wrapper">
              <div class="box box--transperent lists__box">
                <h3 class="title title--h3 box__title">
                  Типичные пары, улавливаемые и восстанавливаемые 
                  установками рекуперации паров:
                </h3>
                <ul class="ul">
                  <li class="li">
                    Пары бензина и дизеля;
                  </li>
                  <li class="li">
                    Пары топлива E5, E10, E85, E100;
                  </li>
                  <li class="li">
                    Пары соединений метанола, бензола, толуола и ксилол;
                  </li>
                  <li class="li">
                    Эфиры: метил-трет-бутиловый (МТБЭ) и этил-трет-бутиловый (ЭТБЭ);
                  </li>
                  <li class="li">
                    Испарения лигроина (Нафта)
                  </li>
                </ul>
              </div>
              <!-- /.box -->
              <div class="box box--transperent lists__box">
                <h3 class="title title--h3 box__title">
                  Стандарты эмиссии:
                </h3>
                <ul class="ul">
                  <li class="li">
                    150 мг/Нм3
                  </li>
                  <li class="li">
                    10 г/Нм3
                  </li>
                  <li class="li">
                    35 г/Нм3
                  </li>
                  <li class="li">
                    5 мг/м3 (бензол)
                  </li>
                </ul>
              </div>
              <!-- /.box -->

            </div>
            <!-- /.box-wrapper -->
          </div>
        </section>
        <!-- /.lists -->


        
        <section class="gallery">
          <div class="container">
            



            <h2 class="title title--h2 gallery__title">
              Галерея оборудования
            </h2>

            <div class="slider-wrapper gallery__slider-wrapper">
              <!-- Slider main container -->
              
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img class="slider-img" src="assets/img/slider1-1.jpg" alt="Slide">
                    </div>
                    <div class="swiper-slide ">
                      <img class="slider-img" src="assets/img/slider1-2.jpg" alt="Slide">
                    </div>
                    <div class="swiper-slide ">
                      <img class="slider-img" src="assets/img/slider1-3.jpg" alt="Slide">
                    </div> 
                </div> 
              </div>
              <!-- /.swiper-container -->
              <div class="slider-arrows">
                <div class="slider-left">
                  <img class="slider-arrow slider-arrow--left" src="assets/img/arrow-right.png" alt="Лево">
                </div>
                <div class="slider-right">
                  <img class="slider-arrow slider-arrow--right" src="assets/img/arrow-right.png" alt="Право">
                </div>
              </div>   
            </div>
            <!-- /.slider-wrapper -->
  

          </div>
          <!-- /.container -->
        </section>
        <!-- /.gallery -->


 

        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="8 (888) 888-88-88">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку персональных данных
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <input type="submit" class="btn btn-success form-block__btn" />
                  </div>

                </div>
                <!-- /.form-block-btns --> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.form -->

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск...">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.png" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon-footer.png" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon-footer.png" alt="EMail">
                </div>
                <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.png" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.png" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="https://just-studio.ru/" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer -->

    <footer class="footer footer-mob"> 
       
      <div class="container">
        <div class="footer-info"> 

          <div class="footer-copyright copyright">
            <div class="nav-logo">
              <img src="assets/img/logo-white.png" alt="Logo">
            </div>
            <div class="copyright-rights">
              © 2003–2020 
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
            <!-- /.menu-logo -->
            <div class="design">
              <a href="https://just-studio.ru/" class="design-studio">
                Design by Just Studio
              </a>
            </div>
            
            
          </div>
          <!-- /.footer-copyright -->

          <div class="footer-menu">

            <div class="footer__menu menu">
              <menu class="nav-menu menu" >
                <ul class="menu-ul">
                  <li class="menu-li"><a href="#">О компании</a></li>
                  <li class="menu-li menu-dropdown">
                    <a href="#">Оборудование</a>
                  </li>
                  <li class="menu-li"><a href="#">Услуги</a></li>
                  <li class="menu-li"><a href="#">Техническая документация</a></li>
                  <li class="menu-li"><a href="#">Контакты</a></li>
                </ul>
                <!-- <ul class="menu-ul menu-ul-child">
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                </ul> -->
              </menu>
            </div>
            <!-- /.search header-search --> 
          </div>
          <!-- /.footer-contacts --> 

          <div class="footer-address">
            <div class="contacts-block__tel tel footer-address-item">
              <div class="contacts-block__tel-icon tel-icon">
                <img src="assets/img/tel-icon-footer.png" alt="Телефон">
              </div>
              <div class="contacts-block__tel-val tel-val">
                <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
              </div>
            </div> 
            <div class="contacts-block__address address footer-address-item">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.png" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__email email footer-address-item">
              <div class="contacts-block__email-icon email-icon">
                <img src="assets/img/email-icon-footer.png" alt="EMail">
              </div>
              <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
            </div>
            <div class="contacts-block__politics politics footer-address-item">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.png" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->

          
        </div>
        <!-- /.footer-info -->

      </div>
      <!-- /.container -->


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer-mob -->

  </div>
  <!-- /.app -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $('#steamSlider').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: true,
    centerMode: true,
    prevArrow: '<div class="slider-right"><img class="slider-arrow slider-arrow--right" src="assets/img/arrow-right.png" alt="Право"></div>',
    nextArrow: '<div class="slider-left"><img class="slider-arrow slider-arrow--left" src="assets/img/arrow-right.png" alt="Лево"></div>',
    
    // centerPadding: '60px',
  }); -->
<!-- </script> -->

 

<script type="module">
  import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'


  var mySwiper = new Swiper('.swiper-container', {
    // Optional parameters
    loop: true,
    pagination: '.swiper-pagination',
		paginationClickable: true,
		effect: 'coverflow',
		centeredSlides: true,
		slidesPerView: 3,
		coverflow: {
			rotate: 0,
			stretch: 100,
			depth: 150,
			modifier: 1.5,
			slideShadows : false,
		},

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.slider-right',
      prevEl: '.slider-left',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  }) 

</script>
</body>
</html>