<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 
   
      
  <title>Инженерные системы</title>
</head>
<body>
  <div id="app">

    <header class="header">

      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск...">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.png" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon.png" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon.png" alt="EMail">
            </div>
            <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
              </li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <main class="wrapper">

        <section class="main main--oil"> 
          <div class="container">
            <h1 class="title main__title h1">
              Оборудование для комплексной<br>нефтеподготовки
            </h1>
          </div>
          <!-- /.container -->
        </section>
        <!-- /.main -->

        <section class="oil">
          <div class="container">

            <div class="oil-textblock">
              <h2 class="title title--h2 oil__title">
                Комплексная схема подготовки углеводородов
              </h2>
              <div class="oil-shema">
                <img src="assets/img/oil-shema.jpg" alt="Схема">
              </div>
            </div>
            <!-- /.oil-textblock -->


            <div class="oil-textblock">
              <h2 class="title title--h2 oil__title">
                Установки подготовки нефти перед транспортировкой
              </h2>
              <p class="text">
                Нефть, выкачиваемая из скважин, выходит на поверхность вместе с пластовой водой, попутным
                газом и твердыми частицами горных пород. Первичная переработка заключается в разделении
                смеси на составляющие. Отделить газ сравнительно легко, а вот нефть и вода вместе образуют
                эмульсию.
              </p>
              <br>
              <p class="text"> 
                Поскольку присутствие воды в нефти значительно увеличивает затраты на транспортировку, она
                подвергается обязательному обезвоживанию.
              </p>

              <h3 class="title title--h3 oil__title--h3">
                Установки обезвоживания и обессоливания нефти
              </h3>
              <p class="text">
                Для удаления из нефтяного сырья жидкости и минеральных солей используют:
                <ul class="ul oil__ul">
                  <li class="li">Хитер-Тритер и установку для предварительного сброса воды (УПСВ).</li>
                  <li class="li">Гравитационный сепаратор;</li>
                </ul>
              </p>
              <br>
              <p class="text">
                Это оборудование обеспечивает прямой нагрев нефти и гравитационную сепарацию.
              </p>
            </div>
            <!-- /.oil-textblock -->
            

            <div class="oil-textblock">
              <h2 class="title title--h2 oil__title">
                Установка подготовки нефти<br>
                Heater-Treater (Нефтегазоводоразделитель)
              </h2>
              <div class="oil-double">
                <div class="oil-left">
                  <p class="text">
                    Благодаря своему универсальному функционалу, одна установка Хитер-Тритер способна заменить одновременно несколько систем очистки.
                  </p>
                  <br>
                  <p class="text">
                    Хитер-Тритер – нефтегазоводораспределитель
                    (НГВРП) с прямым подогревом, может выполнять сразу несколько функций, которые другие
                    системы очистки нефти выполняют лишь по отдельности – это:
                  </p>
                  <ul class="ul oil__ul">
                    <li class="li">Обезвоживание нефтяного сырья</li>
                    <li class="li">Его разделение на нефть и побочные продукты</li>
                    <li class="li">Получение очищенной нефти из первичного сырья</li>
                  </ul>
                  <p class="text">
                    Установка НГВРП может работать даже в самых суровых климатических условиях: устройство
                    выдерживает температуру воздуха до -60°C. Несмотря на то, что оборудование устанавливается на
                    открытой территории, при этом оно устойчиво даже к самым сильным порывам ветра. Комплект
                    изначально поставляется в полной готовности для работы, что позволяет значительно сэкономить
                    на его монтаже.
                  </p>
                </div>
                <div class="oil-right">
                  <img src="assets/img/oil-img-1.jpg" alt="Изображение">
                </div>
              </div>
              <!-- .oil-double" -->

              <h3 class="title title--h3 oil__title--h3">
                Принцип действия Хитер-Тритера
              </h3>
              <p class="text">
                Поступление нефтяного сырья в Хитер-Тритер осуществляется через входной штуцер, который
                находится в верхней части емкости. Во входном отсеке происходит разделение жидкости и газа. В
                результате процесса сепарации газообразные вещества удаляются из аппарата через выпускной
                патрубок. 
              </p><br>
              <p class="text">
                В экстракторе влаги вся находящаяся в газе жидкость коагулируется и объединяется с
                жидкой фазой в нижней части резервуара. Тем временем газ поступает в клапан-регулятор,
                который отвечает за давление и уровень нефти в системе. 
              </p><br>
              <p class="text">
                Постоянная температура в топке и
                жаровых трубах системы Хитер-Тритер поддерживается за счет переработки попутного нефтяного газа, поступающего в аппарат из узла подготовки нефти. Уровень температуры поддерживается
                специальными регуляторами и приборами контроля, которыми оснащен блок управления.
              </p>

              <h3 class="title title--h3 oil__title--h3">
                Преимущества устройства 
              </h3>
              <ul class="ul oil__ul">
                <li class="li">
                  Многофункциональность – установка может выполнять сразу несколько функций по
                  переработке нефти;
                </li>
                <li class="li">
                  Сепарация первичного сырья в неограниченном объеме, вне зависимости от давления;
                </li>
                <li class="li">
                  Низкая концентрация воды (менее 5%) за счет модернизированных систем фильтрации;
                </li>
                <li class="li">
                  Повышенный уровень пожаробезопасности;
                </li>
                <li class="li">
                  Автоматическая система контроля безопасности.
                </li>
              </ul>


            </div>
            <!-- /.oil-textblock -->


            <div class="oil-textblock">
              <h2 class="title title--h2 oil__title">
                Гравитационный сепаратор нефти (Нефтегазосепаратор)
              </h2>
              <div class="oil-double">
                <div class="oil-left">
                  <p class="text">
                    Принцип действия сепарационных установок основывается на делении потока веществ под
                    воздействием силы тяжести. Нефтегазосепараторы используют для дегазации нефтяной смеси, а
                    также очистки попутного газа. В процессе сепарации газ, движущийся по трубам с низкой
                    скоростью, позволяет воде и другим веществам, в частности твердым примесям, осесть на дно
                    сосудов. Между тем, очищенная нефть поступает к выходным трубам.
                  </p>
                  <h3 class="title title--h3 oil__title--h3">
                    Классификация и особенности использования
                  </h3>
                  <p class="text">
                    По конструктивным признакам нефтяные сепарационные устройства бывают горизонтальными и
                    вертикальными. Оба устройства обладают своими отличительными достоинствами:
                  </p>
                  <br>
                  <ul class="ul oil__ul">
                    <li class="li">
                      Горизонтальные модели выбирают за их наибольшую производительность;
                    </li>
                    <li class="li">
                      Вертикальные модели устанавливают в инженерных системах с ограниченной площадью:
                      например, на добывающих платформах или плавучих устройствах.
                    </li>
                  </ul>
                </div>
                <div class="oil-right">
                  <img src="assets/img/oil-img-2.jpg" alt="Изображение">
                </div>
              </div>
              <!-- .oil-double" -->

              <h4 class="title title--h4 oil__title--h4">
                В зависимости от предназначения гравитационные сепараторы делятся на:
              </h4>
              <br>
              <ul class="ul oil__ul">
                <li class="li">
                  Трехфазные – разделяют нефтяную массу на нефть, попутный газ и пластовую воду;
                </li>
                <li class="li">
                  Газожидкостные (газовые) – производят очистку природного и попутного газов от
                  различных механических примесей, воды, конденсата и других жидкостей;
                </li>
                <li class="li">
                  Измерительные – для определения количества (объема) нефти, прошедшей очистку через
                  сепарационную емкость, а также количества побочных продуктов (попутный газ и
                  пластовая вода);
                </li>
                <li class="li">
                  Скрубберы – для очистки газа от различных твердых частиц путем воздействия на него
                  жидкости (методом орошения газообразной массы водой).
                </li>
              </ul>
              <br>
              <p class="text">
                Единственный минус системы ГС – это крупные габаритные размеры установки. Ведь диаметр ГС
                значительно больше по сравнению с диаметром газопровода.
              </p>

            </div>
            <!-- /.oil-textblock -->

            <div class="oil-textblock">
              <h2 class="title title--h2 oil__title">
                Оборудование для нефтеподготовки на НПЗ
              </h2>
              <div class="oil-double">
                <div class="oil-left">
                  <p class="text">
                    Известно, что добытое нефтяное сырье содержит некую долю воды и твердых частиц, в частности
                    минеральные соли. Наличие соли в сырой нефти не только негативно воздействует на механизмы
                    (для работы которых используют нефтепродукты), но и затрудняет различные физические и
                    химические реакции, поэтому перед тем, как нефтяное сырье отправится на переработку, его
                    необходимо очистить от жидкости и других примесей. 
                  </p><br>
                  <p class="text">
                    Поскольку находящаяся в нефти соль
                    растворена в воде, то для комплекса работ по обезвоживанию и обессоливанию нефтяного сырья
                    на нефтеперерабатывающих предприятиях, как правило, используют <strong>электродегидраторы (ЭГ)</strong>.
                  </p><br>
                  <p class="text">
                    Принцип работы ЭГ построен следующим образом: благодаря переменному току образуется
                    электростатическое поле, через которое проходит нефтяная эмульсия, выпуская при этом остатки
                    влаги.
                  </p>
                </div>
                <div class="oil-right">
                  <img src="assets/img/oil-img-3.jpg" alt="Изображение">
                </div>
              </div>
              <!-- .oil-double -->

              <h3 class="title title--h3 oil__title--h3">
                Классификация и особенности электродегидраторов
              </h3>
              <br>
              <p class="text">
                По конструктивным признакам встречаются следующие виды установок ЭГ:
              </p>
              <br>
              <ul class="ul oil__ul">
                <li class="li">
                  <strong>Шаровой электродегидратор</strong>. Устройство может накапливать неограниченный объем
                  перерабатываемого сырья. Однако его нельзя использовать при повышенной температуре
                  и максимальном давлении.
                </li>
                <li class="li">
                  <strong>Горизонтальные электродегидраторы</strong> – самые высокопроизводительные установки
                  цилиндрической формы. Они отличаются возможностью работы даже при повышенном
                  давлении и высокой температуре.
                </li>
                <li class="li">
                  <strong>Вертикальные установки ЭГ</strong>, которые по форме резервуара аналогичны горизонтальным.
                  Однако в отличие от них (и шаровых) используются довольно редко, что обусловлено их
                  малой производительностью, а также возможностью использовать системы только при
                  относительно низком давлении и минимальной температуре.
                </li>
              </ul>
            </div>
              <!-- /.oil-textblock -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.oil -->

  
  

        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="8 (888) 888-88-88">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку персональных данных
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <input type="submit" class="btn btn-success form-block__btn" />
                  </div>

                </div>
                <!-- /.form-block-btns --> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.form -->

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск...">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.png" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon.png" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon.png" alt="EMail">
                </div>
                <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo.png" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo.png" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="https://just-studio.ru/" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>
    </footer>

  </div>
  <!-- /.app -->
 
</body>
</html>