<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 
   
      
  <title>Инженерные системы</title>
</head>
<body>
  <div id="app">

    <header class="header">

      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск...">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.png" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon.png" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon.png" alt="EMail">
            </div>
            <a href="mailto:+74996734060" class="contacts-block__email-val email-val">info@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
              </li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <main class="wrapper">

      

        <section class="main main--devices"> 
          <div class="container">
            <h1 class="title main__title h1">
              Контрольно-измерительные<br>приборы
            </h1>
          </div>
          <!-- /.container -->
        </section>

        <section class="partners">
          <div class="container">
            <h2 class="title title--h2 partners__title">
              Наши партнеры:
            </h2>
            <p class="text partners__text">
              Мы предлагаем контрольно-измерительное оборудование известных мировых производителей:
            </p>
            <div class="img-links partners__img-links">
              <div class="img-links-row img-links-row--partners">
                <a href="#" class="img-links-a">
                  <img src="assets/img/partner-wika.png" alt="Ссылка" class="img-links-img">
                </a>
                <a href="#" class="img-links-a">
                  <img src="assets/img/partner-krohne.png" alt="Ссылка" class="img-links-img">
                </a>
                <a href="#" class="img-links-a">
                  <img src="assets/img/partner-emerson.png" alt="Ссылка" class="img-links-img">
                </a>
                <a href="#" class="img-links-a">
                  <img src="assets/img/partner-yokogawa.png" alt="Ссылка" class="img-links-img">
                </a>
                <a href="#" class="img-links-a">
                  <img src="assets/img/partner-eh.png" alt="Ссылка" class="img-links-img">
                </a>
              </div>
              
            </div>
            <!-- /.img-links partners__img-links -->
          </div>
          <!-- /.container -->
        </section>
        <!-- /.partners -->
         
        <section class="devices">
          <div class="container">
            <h2 class="title title--h2 devices__title">
              Контрольно-измерительные приборы:
            </h2>


            <div class="devices-menu devices__devices-menu">
              <div class="devices-menu-row devices-menu-row--four">
                <a href="#" class="devices-menu-a">
                  Измерение уровня
                </a>
                <a href="#" class="devices-menu-a">
                  Датчики давления
                </a>
                <a href="#" class="devices-menu-a">
                  Измерение температуры
                </a>
                <a href="#" class="devices-menu-a">
                  Измерение расхода
                </a>
              </div>
              <!-- /.devices-menu-row -->
            </div>
            <!-- /.devices-menu --> 

          </div>
          <!-- /.comtainer -->
        </section>
        <!-- /.devices -->


        <section class="devices-items">
          <div class="container">

            <div class="devices-items-item">

              <div class="devices-items-info">
                <h3 class="title title--h2 devices-items__title">
                  Измерение уровня
                </h3>
                
                <div class="questionnaire devices-items__questionnaire">
                  <div class="questionnaire-text">
                    <h3 class="title title--h3 title--white questionnaire__title">
                      Скачать опросный лист:
                    </h3>
                    <p class="text questionnaire__text">
                      Уровнемеры и датчики уровня
                    </p> 
                  </div>
                  <a href="#" class="btn btn--default questionnaire__btn">
                    Скачать PDF
                  </a>
                </div>
                <!-- /.questionnaire-->

                <table class="table table--catalog devices-items__table">
                  <thead class="table-head">
                      <th class="table-th" colspan="3">Каталоги оборудования</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">Levelflex <br> FMP5x</td>
                      <td class="table-td">Микроимпульсные уровнемеры</td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >Liquiphant</td>
                      <td class="table-td">
                        Контроль предельного уровня жидкостей на основе вибрационного принципа
                        измерения
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">Micropilot <br> FMR10/20/5x/6x</td>
                      <td class="table-td">Универсальная линейка бесконтактных микроволновых уровнемеров</td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/devices-level.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->



            <div class="devices-items-item">

              <div class="devices-items-info">
                <h3 class="title title--h2 devices-items__title">
                  Измерение давления
                </h3>
                
                <div class="questionnaire devices-items__questionnaire">
                  <div class="questionnaire-text">
                    <h3 class="title title--h3 title--white questionnaire__title">
                      Скачать опросный лист:
                    </h3>
                    <p class="text questionnaire__text">
                      Датчики и преобразователи давления
                    </p> 
                  </div>
                  <a href="#" class="btn btn--default questionnaire__btn">
                    Скачать PDF
                  </a>
                </div>
                <!-- /.questionnaire-->

                <table class="table table--catalog devices-items__table">
                  <thead class="table-head">
                      <th class="table-th" colspan="3">Каталоги оборудования</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">Измерение давления</td>
                      <td class="table-td">
                        Передовые технологии для измерения избыточного и абсолютного
                        давления,  уровня и расхода
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >Мембрана TempC</td>
                      
                      <td class="table-td">
                        Высокоточное измерение давления с помощью
                        разделительных мембран - TempC
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/devices-pressure.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->





            <div class="devices-items-item">

              <div class="devices-items-info">
                <h3 class="title title--h2 devices-items__title">
                  Измерение температуры
                </h3>
                
                <div class="questionnaire devices-items__questionnaire">
                  <div class="questionnaire-text">
                    <h3 class="title title--h3 title--white questionnaire__title">
                      Скачать опросный лист:
                    </h3>
                    <p class="text questionnaire__text">
                      Датчики и преобразователи температуры
                    </p> 
                  </div>
                  <a href="#" class="btn btn--default questionnaire__btn">
                    Скачать PDF
                  </a>
                </div>
                <!-- /.questionnaire-->

                <table class="table table--catalog devices-items__table">
                  <thead class="table-head">
                      <th class="table-th" colspan="3">Каталоги оборудования</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">Ключевые особенности</td>
                      <td class="table-td">
                        Термометры E+H для нефтегазовой отрасли
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Решения по термометрии
                      </td>
                      <td class="table-td">
                        Специальные решения для нефтегазовой и
                        нефтехимической отраслей промышленности
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Решения по термометрии
                      </td>
                      <td class="table-td">
                        Специальные решения для нефтегазовой и
                        нефтехимической отраслей промышленности
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Измерение температуры
                      </td>
                      <td class="table-td">
                        Датчики температуры и преобразователи для любыхотраслей промышленности
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        iTHERM TrustSens TM371
                      </td>
                      <td class="table-td">
                        Первый в мире термометр с функцией самодиагностики и подстройки
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        iTHERM TrustSens TM371
                      </td>
                      <td class="table-td">
                        Измерение температуры с абсолютной погрешностью ±0,2°С
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/devices-temperature.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->


            <div class="devices-items-item">

              <div class="devices-items-info">
                <h3 class="title title--h2 devices-items__title">
                  Измерение расхода
                </h3>
                
                <div class="questionnaire devices-items__questionnaire">
                  <div class="questionnaire-text">
                    <h3 class="title title--h3 title--white questionnaire__title">
                      Скачать опросный лист:
                    </h3>
                    <p class="text questionnaire__text">
                      Расходомеры жидкости, газа и пара
                    </p> 
                  </div>
                  <a href="#" class="btn btn--default questionnaire__btn">
                    Скачать PDF
                  </a>
                </div>
                <!-- /.questionnaire-->

                <table class="table table--catalog devices-items__table">
                  <thead class="table-head">
                      <th class="table-th" colspan="3">Каталоги оборудования</th>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Proline
                      </td>
                      <td class="table-td">
                        Обзор серии
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Proline Promass 200
                      </td>
                      <td class="table-td">
                        Кориолисовые расходомеры с питанием по сигнальной цепи
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Proline Prowirl 200
                      </td>
                      <td class="table-td">
                        Новое поколение вихревых расходомеров для пара, газов и жидкостей
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Proline t-mass 65
                      </td>
                      <td class="table-td">
                        Измерение массового расхода газа
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Proline t-mass 150
                      </td>
                      <td class="table-td">
                        Измерение массового расхода газа
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Proline 300/500
                      </td>
                      <td class="table-td">
                        Революция в приборах измерения расхода
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Prosonic Flow 92F
                      </td>
                      <td class="table-td">
                        Ультразвуковой расходомер для химической и нефтехимической отраслей промышленности 
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Prosonic Flow 93T
                      </td>
                      <td class="table-td">
                        Портативный накладной ультразвуковой расходомер для контрольных измерений
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Расходомеры 
                      </td>
                      <td class="table-td">
                        Для воды и сточных вод
                      </td>
                      <td class="table-td table-link">
                        <a class="table-a" href="#">Скачать PDF</a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.devices-items-info -->

              <div class="devices-items-image">
                <img src="assets/img/devices-rate.png" alt="Картинка">
              </div>
              <!-- /.devices-items-image -->

            </div>
            <!-- /.devices-items-item -->




          </div>
          <!-- /.cntainer -->
        </section>
        <!-- /.devices-items -->



        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="8 (888) 888-88-88">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку персональных данных
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <input type="submit" class="btn btn-success form-block__btn" />
                  </div>

                </div>
                <!-- /.form-block-btns --> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.form -->

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.png" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск...">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.png" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon.png" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon.png" alt="EMail">
                </div>
                <a href="mailto:+74996734060" class="contacts-block__email-val email-val">info@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo.png" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo.png" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="juststudio.ru" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>
    </footer>

  </div>
  <!-- /.app -->
 
</body>
</html>