<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 
   
      
  <title>Инженерные системы</title>
</head>
<body>
  <div id="app">

    <header class="header">

      <div class="container">
        <div class="search header__search">
          <input type="text" class="search-input" placeholder="Поиск">
          <button type="submit" class="search-btn">
            <img src="assets/img/search-icon.svg" alt="Искать">
          </button>
        </div>
        <!-- /.search header-search -->

        <div class="contacts-block header__contacts-block">

          <div class="contacts-block__tel tel">
            <div class="contacts-block__tel-icon tel-icon">
              <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
            </div>
            <div class="contacts-block__tel-val tel-val">
              <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
            </div>
          </div>

          <button class="contacts-block__btn btn btn-call  btn--yellow">Обратный звонок</button>
          
          <div class="contacts-block__email email">
            <div class="contacts-block__email-icon email-icon">
              <img src="assets/img/email-icon-footer.svg" alt="EMail">
            </div>
            <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
          </div>
        </div>
        <!-- /.search header-search -->

        <nav class="header__nav nav">
          <a href="" class="nav-logo">
            <img src="assets/img/logo.svg" alt="Logo">
          </a>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <div class="menu-separ"></div>
                <ul class="menu-ul menu-ul-child menu-child"> 
                    <li class="menu-li menu-child-li"><a href="#"> Запорно&#8209;регулирующая арматура</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Сливо&#8209;наливное оборудование</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;осушки&nbsp;сжиженного углеводородного&nbsp;газа</a></li>
                   
                    <li class="menu-li menu-child-li"><a href="#"> Контрольно&#8209;измерительные приборы</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Установки&nbsp;рекуперации паров</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Оборудование&nbsp;для&nbsp;комплексной нефтепереработки</a></li>
                    
                    <li class="menu-li menu-child-li"><a href="#"> Насосное оборудование</a></li>
                   
                </ul>
              </li>
              <li class="menu-li  menu-dropdown">
                <a href="#">Услуги</a>
                <span class="menu-arrow">
                  <img src="assets/img/menu-arrow.svg" alt=">"> 
                </span>
                <div class="menu-separ"></div>
                <ul class="menu-ul menu-ul-child menu-child"> 
                    <li class="menu-li menu-child-li"><a href="#"> Комплектные&nbsp;поставки технологического&nbsp;оборудования </a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Шеф&#8209;монтажные&nbsp;и&nbsp;пусконаладочные работы</a></li>
                    <li class="menu-li menu-child-li"><a href="#"> Разработк&nbsp;рабоче&#8209;конструкторской документации (РКД)</a></li>
                    
                </ul>
              </li>
              <li class="menu-li">
                <a href="#">Техническая документация</a> 
              </li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>
      <!-- /.container -->
    </header>

    <header class="header-mob"> 
      <div class="container">
        <div class="header-mob-logo">
          <img src="assets/img/logo.svg" alt="Logo">
        </div>
        <div class="burger-wrapper">
          <div class="burger header-mob__burger" id="burger">
            <input type="checkbox" />
            <span id="burger-span1"></span>
            <span id="burger-span2"></span>
            <span id="burger-span3"></span>
          </div>
          <!-- /.burger header_mob__burger -->
        </div> 
      </div>
      <!-- /.container -->


      <nav class="header-mob__nav nav" id="mob-menu"> 
        <div class="container">
          <menu class="nav-menu menu" >
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li menu-dropdown">
                <a href="#">Оборудование</a>
              </li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
            <!-- <ul class="menu-ul menu-ul-child">
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
              <li class="menu-li menu-dropdown">Подраздел</li>
            </ul> -->
          </menu>
          <!-- /.menu-list -->
        </div>
        <!-- /.container --> 
      </nav>
      <!-- /. nav-->
    </header>

    <main class="wrapper">

        <section class="main main--gas"> 
          <div class="container">
            <h1 class="title main__title h1">
              Установка осушки сжиженного<br>
              углеводородного газа 
            </h1>
          </div>
          <!-- /.container -->
        </section>
        <!-- /.main -->

        

        <section class="gas">
          <div class="container">
            <p class="text">
              Блок осушки сжиженных углеводородов предназначен для удаления воды из потока сжиженного газа до уровня 0,0001% (масс.) 
              <br class='hide-mob hide-tablet'>или 0,02 кг/час. Осушка сжиженного газа производится попеременно по заданной циклограмме в двух абсорберах. Параметры входящего и выходящего потока сжиженного газа для блока осушки СУГ представляются заказчиком и являются индивидуальными для каждого проекта.
            </p>

            <div class="gas-textblock">
              <h2 class="title title--h2 oil__title">
                Процесс работы блока осушки:
              </h2>

              <div class="timeline gas__timeline">

                <div class="timeline-item">
                  <div class="timeline-num">
                    <div class="timeline-num-val">1</div>
                    <span class="timeline-text">Адсорбция</span>
                  </div>
                  <div class="timeline-line"></div>
                </div>
                <!-- /.timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-num">
                    <div class="timeline-num-val">2</div>
                    <span class="timeline-text">Слив</span>
                  </div>
                  <div class="timeline-line"></div>
                </div>
                <!-- /.timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-num">
                    <div class="timeline-num-val">3</div>
                    <span class="timeline-text">Нагрев</span>
                  </div>
                  <div class="timeline-line"></div>
                </div>
                <!-- /.timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-num">
                    <div class="timeline-num-val">4</div>
                    <span class="timeline-text">Охлаждение<br>Наполнение</span>
                  </div>
                  <div class="timeline-line"></div>
                </div>
                <!-- /.timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-num">
                    <div class="timeline-num-val">5</div>
                    <span class="timeline-text">Ожидание</span>
                  </div>
                 
                </div>
                <!-- /.timeline-item -->
                
              </div>
              <!-- /.timeline -->

            </div>
            <!-- /.oil-textblock -->

            <div class="gas-textblock hide-mob hide-tablet">
              <h2 class="title title--h2 oil__title">
                Состав типовой установки:
              </h2>
              <br>
              <ul class="ul gas__ul">
                <li class="li">
                  <strong>Адсорберы</strong> (2 / 4 / 6 штук и т. д.), наполненные осушителем (послойная укладка активированного оксида алюминия и цеолита). Один адсорбер из пары в работе, другой – на регенерации осушителя;
                </li>
                <li class="li">
                  <strong>Фильтр</strong> для очистки от механических примесей осушенного СУГ от пыли адсорбента;
                </li>
                <li class="li">
                  <strong>Охладитель</strong> осушенного СУГ;
                </li>
                <li class="li">
                  <strongНасосы></strong> для подачи СУГ в испаритель;
                </li>
                <li class="li">
                  <strong>Испаритель</strong> для испарения части СУГ паром высокого давления; 
                </li>
                <li class="li">
                  <strong>Теплообменник</strong> для подогрева части углеводородного газа паром высокого давления с целью его дальнейшей подачи
                  <br class='hide-mob hide-tablet'>для регенерации осушителя в соответствующий адсорбер;
                </li>
                <li class="li">
                  <strong>Конденсатор</strong> влажного углеводородного газа после регенерации осушителя;
                </li>
                <li class="li">
                  <strong>Сепаратор</strong> для отделения воды от СУГ после регенерации осушителя
                </li>
              </ul>

            </div>
            <!-- /.gas-textblock -->

            <div class="gas-textblock">
              <div class="gas-double">
                <div class="gas-left gas-grey">
                  <p class="text">
                    <strong>Адсорбер</strong> предназначен для глубокой осушки СУГ и представляет собой вертикальный цилиндрический аппарат, который
                    <br class='hide-mob hide-tablet'>состоит из цилиндрического корпуса с двумя эллиптическими днищами и внутренних устройств. 
                  </p><br>
                  <p class="text">
                    В конструкции адсорбера предусмотрены люки для загрузки
                    <br class='hide-mob hide-tablet'>и выгрузки адсорбента в адсорбер. 
                  </p><br>
                  <p class="text">
                    На адсорбере располагаются все необходимые приборы КИП, датчики и исполнительные устройства.
                  </p>
                </div>
                <div class="gas-right gas-image">
                  <img class="gas-img" src="assets/img/gas-img-1.jpg" alt="Изображение">
                </div>
              </div>
              <!-- /.gas-double -->
              <div class="gas-double gas-double--reverse">
                <div class="gas-left gas-image">
                  <img class="gas-img" src="assets/img/gas-img-2.jpg" alt="Изображение">
                  
                </div>
                <div class="gas-right gas-grey">
                  <p class="text">
                    <strong>Фильтр</strong> осушенного СУГ предназначен для очистки сжиженного газа от пыли адсорбента. Фильтр представляет собой вертикальный цилиндрический аппарат, который состоит из цилиндрического корпуса. 
                  </p><br>
                  <p class="text">
                    К нижней части корпуса приварено эллиптическое днище,
                    <br class='hide-mob hide-tablet'>а в верхней части установлен люк с фланцевым соединением
                    <br class='hide-mob hide-tablet'>для возможности установки и замены фильтрующих элементов. Корпус фильтра выполнен цельносварным.  
                  </p><br>
                  <p class="text">
                    В конструкции фильтра, в нижней части предусмотрен штуцер
                    <br class='hide-mob hide-tablet'>для слива дренажа жидкости из аппарата. Фильтр оснащается манометром и замером перепада давления на фильтрующих элементах.
                  </p>
                </div>
              </div>
              <!-- /.gas-double -->
              <div class="gas-double">
                <div class="gas-left gas-grey">
                  <p class="text">
                    <strong>Теплообменник</strong> представляет собой горизонтальный кожухотрубчатый аппарат с U-образными теплообменными трубами, расположенными по вершинам треугольников, двухходовой
                    <br class='hide-mob hide-tablet'>по трубному пространству, установленный на седловые опоры. Теплообменник снабжен рядом технологических штуцеров. 
                  </p><br>
                  <p class="text">
                    Аппарат разрабатывается, изготавливается и испытывается
                    <br class='hide-mob hide-tablet'>в соответствии с техническими условиями завода поставщика
                    <br class='hide-mob hide-tablet'>и требованиями Федеральных норм и правил в области промышленной безопасности «Правила промышленной безопасности опасных производственных объектов, на которых используется оборудование, работающее под избыточным давлением».
                  </p>
                </div>
                <div class="gas-right gas-image">
                  <img class="gas-img" src="assets/img/gas-img-3.jpg" alt="Изображение">
                </div>
              </div>
              <!-- /.gas-double -->

            </div>
            <!-- /.gas-textblock -->

            <div class="gas-textblock">
              <h3 class="title title--h3 oil__title  about-us__title">
                При выборе материального исполнения оборудования учитывается:
              </h3>
              <ul class="ul gas__ul">
                <li class="li">
                  рабочие и расчётные условия;
                </li>
                <li class="li">
                  состав и характер среды (коррозионно-активная, взрывоопасная, токсичная и т.п.);
                </li>
                <li class="li">
                  технологические свойства и коррозионная стойкость материалов для обеспечения расчётного срока службы.
                </li>
              </ul>
            </div>
            <!-- /.gas-textblock -->


            <div class="gas-textblock">
              <h3 class="title title--h3 oil__title">
                Для примера – параметры входящего и выходящего потока сжиженного газа и состав входящего и выходящего потока для блока осушки СУГ (параметры индивидуальны для каждого проекта):
              </h3>
              <div class="gas-tables">
                <table class="table table--catalog gas__table  gas__table--big">
                  <thead class="table-head">
                      <tr>
                        <th class="table-th">Поток сжиженного газа</th>
                        <th class="table-th">СУГ на осушку</th>
                        <th class="table-th">СУГ после осушки</th>
                      </tr>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Рабочая температура, °С
                      </td>
                      <td class="table-td">
                        40
                      </td>
                      <td class="table-td">
                        40
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Рабочее давление, МПа (изб.)
                      </td>
                      <td class="table-td">
                        1,8
                      </td>
                      <td class="table-td">
                        1,7
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Молекулярная масса, кг/кмоль
                      </td>
                      <td class="table-td">
                        51,43
                      </td>
                      <td class="table-td">
                        51,58
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Молярный расход, кмоль/ч
                      </td>
                      <td class="table-td">
                        328,62
                      </td>
                      <td class="table-td">
                        327,39
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Массовый расход, кг/ч
                      </td>
                      <td class="table-td">
                        16901,00
                      </td>
                      <td class="table-td">
                        16883,91
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Объемный расход, м3/ч
                      </td>
                      <td class="table-td">
                        31,17
                      </td>
                      <td class="table-td">
                        31,15
                      </td>
                    </tr> 
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Плотность, кг/м3
                      </td>
                      <td class="table-td">
                        516,9
                      </td>
                      <td class="table-td">
                        516,4
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Теплоемкость, кДж/кг °С
                      </td>
                      <td class="table-td">
                        2,68
                      </td>
                      <td class="table-td">
                        2,69
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Динамическая вязкость, сП
                      </td>
                      <td class="table-td">
                        0,114
                      </td>
                      <td class="table-td">
                        0,112
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Теплопроводность, Вт/(м К)
                      </td>
                      <td class="table-td">
                        0,64
                      </td>
                      <td class="table-td">
                        0,17
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Поверхностное натяжение, дин/см
                      </td>
                      <td class="table-td">
                        5,08
                      </td>
                      <td class="table-td">
                        5,08
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table--catalog gas__table gas__table--small">
                  <thead class="table-head">
                      <tr>
                        <th class="table-th">Cостав потока</th>
                        <th class="table-th">Вход</th>
                        <th class="table-th">Выход</th>
                      </tr>
                  </thead>
                  <tbody class="table-body">
                    
                    <tr class="table-tr table-tr--green">
                      <td class="table-td table-item-name ">
                        Вода
                      </td>
                      <td class="table-td">
                        0,032
                      </td>
                      <td class="table-td">
                        0,0001
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name" >
                        Водород
                      </td>
                      <td class="table-td">
                        0,003
                      </td>
                      <td class="table-td">
                        0,003
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Этан
                      </td>
                      <td class="table-td">
                        3,430
                      </td>
                      <td class="table-td">
                        3,431
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Пропан
                      </td>
                      <td class="table-td">
                        28,315
                      </td>
                      <td class="table-td">
                        28,324
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Изобутан
                      </td>
                      <td class="table-td">
                        21,546
                      </td>
                      <td class="table-td">
                        21,553
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Бутан
                      </td>
                      <td class="table-td">
                        45,489
                      </td>
                      <td class="table-td">
                        45,489
                      </td>
                    </tr> 
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Пентан
                      </td>
                      <td class="table-td">
                        0,284
                      </td>
                      <td class="table-td">
                        0,284
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Изопентан
                      </td>
                      <td class="table-td">
                        0,520
                      </td>
                      <td class="table-td">
                        0,520
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Гексан
                      </td>
                      <td class="table-td">
                        0,103
                      </td>
                      <td class="table-td">
                        0,103
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Этилен
                      </td>
                      <td class="table-td">
                        0,027
                      </td>
                      <td class="table-td">
                        0,028
                      </td>
                    </tr>
                    <tr class="table-tr">
                      <td class="table-td table-item-name">
                        Пропилен
                      </td>
                      <td class="table-td">
                        0,041
                      </td>
                      <td class="table-td">
                        0,041
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.gas-tables -->

            </div>
            <!-- /.gas-textblock -->
            
          </div>
          <!-- /.container -->
        </section>
        <!-- /.oil -->


        <section class="about-us about-us--benefits">
          <div class="container">
            <h2 class="title title--h2 oil__title about-us__title">
              Наши преимущества
            </h2>
            <div class="about-us-wrapper">
              <div class="about-us-item">
                <div class="about-us-img">
                  <img class="about-us-image" src="assets/img/benefits-1.svg" alt="Иконка">
                </div>
                <div class="about-us-text">
                  <p class="text">
                    Собственный просчет каждой <br class="hide-mob hide-tablet">
                    единицы оборудования
                  </p>
                </div>
              </div>
              <!-- /.about-us-item -->
              <div class="about-us-item">
                <div class="about-us-img">
                  <img class="about-us-image" class="about-us-image" src="assets/img/benefits-2.svg" alt="Иконка">
                </div>
                <div class="about-us-text">
                  <p class="text">
                    Применение адсорбента любого типа <br class="hide-mob hide-tablet">
                    исходя из требований заказчика <br class="hide-mob hide-tablet">
                    (импорт / РФ)
                  </p>
                </div>
              </div>
              <!-- /.about-us-item -->
              <div class="about-us-item">
                <div class="about-us-img">
                  <img class="about-us-image" src="assets/img/benefits-3.svg" alt="Иконка">
                </div>
                <div class="about-us-text">
                  <p class="text">
                    Подбор оборудования исходя
                    <br class="hide-mob hide-tablet">из требований Заказчика (импорт / РФ)
                  </p>
                </div>
              </div>
              <!-- /.about-us-item -->
              <div class="about-us-item">
                <div class="about-us-img">
                  <img class="about-us-image" src="assets/img/benefits-4.svg" alt="Иконка">
                </div>
                <div class="about-us-text">
                  <p class="text">
                    Несем гарантии за конечный результат, а также <br class="hide-mob hide-tablet">
                    за каждый отдельный технологический узел <br class="hide-mob hide-tablet">
                    данной установки
                  </p>
                </div>
              </div>
              <!-- /.about-us-item -->
            </div>
            
          </div>
          <!-- /.container -->
        </section>
        <!-- /.about-us -->

        <section class="gallery">
          <div class="container">

            <h2 class="title title--h2 gallery__title">
              Галерея оборудования
            </h2>
            
            <div class="slider-wrapper gallery__slider-wrapper">
              <!-- Slider main container -->
              
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img class="slider-img zoom" src="assets/img/slider3-1.jpg" alt="Slide">
                    </div>
                    <div class="swiper-slide ">
                      <img class="slider-img zoom" src="assets/img/slider3-2.jpg" alt="Slide">
                    </div>
                    <div class="swiper-slide ">
                      <img class="slider-img zoom" src="assets/img/slider3-3.jpg" alt="Slide">
                    </div>
                </div> 
              </div>
              <!-- /.swiper-container -->
              <div class="slider-arrows">
                <div class="slider-left">
                  <img class="slider-arrow slider-arrow--left" src="assets/img/arrow-right.png" alt="Лево">
                </div>
                <div class="slider-right">
                  <img class="slider-arrow slider-arrow--right" src="assets/img/arrow-right.png" alt="Право">
                </div>
              </div>   
            </div>
            <!-- /.slider-wrapper -->
          </div>
        </section>
        <!-- /.gallery -->
  

        <section class="form-section form-section--index">
          <div class="container">

            <div class="form-block">

              <h2 class="title title--h2 form-block__title">Оставить заявку</h2>
              
              <form action="" method="POST" class="form form-block__form">
                <div class="form-block-inputs">
                  <input class="input form__input" type="text" name="name" placeholder="Ваше имя">
                  <input class="input form__input" type="tel" name="phone" placeholder="8 (888) 888-88-88">
                  <input class="input form__input" type="email" name="email" placeholder="Электронный адрес">
                </div>
                <textarea class="textarea form__textarea form-block-textarea" type="text" name="comment" placeholder="Комментарий"></textarea>
                <!-- /.form-block-inputs -->

                <div class="form-block-controls">

                  <label class="checkbox form-block-controls__checkbox">
                    <input class="checkbox-input" type="checkbox">
                    <span class="checkbox-text">
                      Вы согласны на обработку персональных данных
                    </span>
                  </label>
                  <!-- /.checkbox -->

                  <div class="form-block-btns">

                    <div class="form-block__btn-file btn-file">
                      <input class="btn-file-btn" type="file" name="file" id="file" data-multiple-caption="Выбрано файлов: {count}" multiple />
                      <label class="btn btn-success-trans btn-file-label" for="file">
                        <span>Прикрепить файл</span>
                      </label>
                    </div>
                    
                    <input type="submit" class="btn btn-success form-block__btn" />
                  </div>

                </div>
                <!-- /.form-block-btns --> 
              </form>

            </div>
            <!-- /.form-block -->

          </div>
          <!-- /.container -->
        </section>
        <!-- /.form -->

    </main>
    
    <footer class="footer">
      <div class="container">

        <nav class="footer__nav nav">
          <div class="nav-logo">
            <img src="assets/img/logo-white.svg" alt="Logo">
          </div>
          <!-- /.menu-logo -->
          <menu class="nav-menu menu">
            <ul class="menu-ul">
              <li class="menu-li"><a href="#">О компании</a></li>
              <li class="menu-li"><a href="#">Оборудование</a></li>
              <li class="menu-li"><a href="#">Услуги</a></li>
              <li class="menu-li"><a href="#">Опросные листы</a></li>
              <li class="menu-li"><a href="#">Контакты</a></li>
            </ul>
          </menu>
          <!-- /.menu-list -->
        </nav>
        <!-- /. nav-->

      </div>

      <hr class="footer-hr" noshade size="1">

      <div class="container">
        <div class="footer-info">

          <div class="footer-search">

            <div class="search footer__search">
              <input type="text" class="search-input" placeholder="Поиск...">
              <button type="submit" class="search-btn">
                <img src="assets/img/search-icon.svg" alt="Искать">
              </button>
            </div>
            <!-- /.search footer-search -->

          </div>
          <!-- /.footer-search -->

          <div class="footer-contacts">

            <div class="footer__contacts-block contacts-block">
              <div class="contacts-block__tel tel">
                <div class="contacts-block__tel-icon tel-icon">
                  <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
                </div>
                <div class="contacts-block__tel-val tel-val">
                  <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
                </div>
              </div>

              <button class="contacts-block__btn btn btn-call  btn--yellow">Обратный звонок</button>
              
              <div class="contacts-block__email email">
                <div class="contacts-block__email-icon email-icon">
                  <img src="assets/img/email-icon-footer.svg" alt="EMail">
                </div>
                <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
              </div>
            </div>
            <!-- /.search header-search -->

          </div>
          <!-- /.footer-contacts -->
          <div class="footer-address">

            <div class="contacts-block__address address">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  127644 <br>
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__politics politics">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->
          <div class="footer-copyright copyright">
            <a href="https://just-studio.ru/" class="design-studio">
              Design by Just Studio
            </a>
            <div class="copyright-rights">
              © 2003–2020 <br>
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
          </div>
          <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-info -->
      </div>


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer -->

    <footer class="footer footer-mob"> 
       
      <div class="container">
        <div class="footer-info"> 

          <div class="footer-copyright copyright">
            <div class="nav-logo">
              <img src="assets/img/logo-white.svg" alt="Logo">
            </div>
            <div class="copyright-rights">
              © 2003–2020 
              <a href="https://engsystems.ru" class="copyright-link">engsystems.ru</a> 
            </div>
            <!-- /.menu-logo -->
            <div class="design">
              <a href="https://just-studio.ru/" class="design-studio">
                Design by Just Studio
              </a>
            </div>
            
            
          </div>
          <!-- /.footer-copyright -->

          <div class="footer-menu">

            <div class="footer__menu menu">
              <menu class="nav-menu menu" >
                <ul class="menu-ul">
                  <li class="menu-li"><a href="#">О компании</a></li>
                  <li class="menu-li menu-dropdown">
                    <a href="#">Оборудование</a>
                  </li>
                  <li class="menu-li"><a href="#">Услуги</a></li>
                  <li class="menu-li"><a href="#">Техническая документация</a></li>
                  <li class="menu-li"><a href="#">Контакты</a></li>
                </ul>
                <!-- <ul class="menu-ul menu-ul-child">
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                  <li class="menu-li menu-dropdown">Подраздел</li>
                </ul> -->
              </menu>
            </div>
            <!-- /.search header-search --> 
          </div>
          <!-- /.footer-contacts --> 

          <div class="footer-address">
            <div class="contacts-block__tel tel footer-address-item">
              <div class="contacts-block__tel-icon tel-icon">
                <img src="assets/img/tel-icon-footer.svg" alt="Телефон">
              </div>
              <div class="contacts-block__tel-val tel-val">
                <a href="tel:+74996734060" class="contacts-block__tel-link">+7 499 673 40 60</a>
              </div>
            </div> 
            <div class="contacts-block__address address footer-address-item">
              <div class="contacts-block__address-icon address-icon">
                <img src="assets/img/address-logo-footer.svg" alt="Адрес">
              </div>
              <div class="contacts-block__address-val address-val">
                <a href="tel:+74996734060" class="contacts-block__address-link">
                  
                  г. Москва, ул. Ижорская, 15
                </a>
              </div>
            </div>
            <div class="contacts-block__email email footer-address-item">
              <div class="contacts-block__email-icon email-icon">
                <img src="assets/img/email-icon-footer.svg" alt="EMail">
              </div>
              <a href="mailto:info@engsystems.ru" class="contacts-block__email-val email-val">info@engsystems.ru</a>
            </div>
            <div class="contacts-block__politics politics footer-address-item">
              <div class="contacts-block__politics-icon politics-icon">
                <img src="assets/img/politics-logo-footer.svg" alt="Политика конфиденциальности">
              </div>
              <div class="contacts-block__politics-val politics-val">
                <a href="#" class="contacts-block__politics-link">
                  Политика конфиденциальности
                </a>
              </div>
            </div>

          </div>
          <!-- /.footer-address -->

          
        </div>
        <!-- /.footer-info -->

      </div>
      <!-- /.container -->


      <div class="modal" id="modal">
        <div class="modal-wrapper">
          <h3 class="title modal__title">Обратный звонок</h3>
          <form action="" method="post" class="modal__form form" id="modalForm">
            <input type="text" name="name" class="input modal__input" placeholder="Ваше имя">
            <input type="tel" name="phone" class="input modal__input" placeholder="8 (888) 888 88 88">
            <input type="submit" class="btn btn-success modal__btn" value="Отправить">
            
          </form>
          <div class="cross" id="cross">
            &#10006;
          </div>
        </div>
      </div>
      <!-- /.modal -->


    </footer>
    <!-- /.footer-mob -->

  </div>
  <!-- /.app -->
 


  <script type="module">
    import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'
  
  
    var mySwiper = new Swiper('.swiper-container', {
       // Optional parameters
        loop: true,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        // effect: 'coverflow',
        centeredSlides: true,
        slidesPerView: 3,
        spaceBetween: 20,
        
        // coverflow: {
        // 	rotate: 0,
        // 	stretch: 100,
        // 	depth: 150,
        // 	modifier: 1.5,
        // 	slideShadows : false,
        // },
        breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 1,
          spaceBetween: 0
        },
        // when window width is >= 480px
        480: {
          slidesPerView: 1, 
        },
        // when window width is >= 640px
        768: {
          slidesPerView: 3, 
        }
      },
      // Navigation arrows
      navigation: {
        nextEl: '.slider-right',
        prevEl: '.slider-left',
      },
   
    }) 
  
  </script>
</body>
</html>