.about-us {
  &-wrapper {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
  }
  &__title {
    @media (max-width: $desktopWidth){
      margin-top: 0;
    }
  }
  &-item{
    @include flex(row, flex-start, center);
    width: 50%;
    margin-top: 40px;
    @media (max-width: $tableWidth){
      width: 100%;
    }
  }
  &-img{
    height: 50px;
    min-width: 50px;
    @include flex(row, center, center);
  }
  &-text{
    margin-left: 28px;
    width: 100%;
    max-width: 425px;
  }

}

.about {
  .title.about__title--h3{
    margin-top: 64px;
    font-size: rem(32);
    font-weight: 500;
  }
}