.about-us {
  margin-top: 40px;
  @media (max-width: $tableWidth){
    margin-top: 20px;
  }
  &-wrapper {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
  }
  &__title {
    @media (max-width: $desktopWidth){
      margin-top: 0;
    }
  }
  &-item{
    @include flex(row, flex-start, center);
    width: 50%;
    margin-top: 40px;
    @media (max-width: $tableWidth){
      width: 100%;
    }
  }
  &-img{
    height: 50px;
    min-width: 50px;
    @include flex(row, center, center);
  }
  &-image {
    width: auto;
    height: 100%;
  }
  &-text{
    margin-left: 28px;
    width: 100%;
    // max-width: 425px;
    @media (max-width: $desktopWidth){
      margin-left: 14px;

    }
  }
  &.about-us--work {
    .about-us-img {
      min-width: 80px;
      height: 80px;
    }
  }
}

.about {
  .title.about__title--h3{
    margin-top: 64px;
    font-size: rem(32);
    font-weight: 400;
  }
  
}