
.partners {
  &__title {
    margin-top: 30px;
  }
  &__text {
    margin-top: 30px;
    width: 100%;
  }
  @media (min-width: $tableWidth) and (max-width: $desktopWidth){ 
    .partners__img-links--table > .img-links-row {
      &:first-child {
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      &:last-child {
        justify-content: space-around;
        flex-wrap: nowrap;

      }
      a {
        margin: auto;
      }
    }
  }
  
}


.img-links {
  &-row {
    margin-top: 60px;
    width: 100%;
    @include flex(row, space-between, center);
    // flex-wrap: wrap;
    
  }
  &-a{
    @include flex(row, center, center);
    min-height: 50px;
  }
}

// ------------------------
// -----devices-menu-------
// ------------------------

.devices-menu {
  @include link_a($mainFontColor, 700, $success-color);
  &.devices-menu--tablet {
    display: none;
    @media (max-width: $desktopWidth){ 
      display: block;
      max-width: 80%; 
    }
  }
  
  &-row{
    @include flex(row, space-between,center);
    border-bottom: 1px solid rgba($neutral-placeholder, 0.5);
    &:last-child{
      border: none;
    }
    &:first-child{
      border-bottom: 1px solid rgba($neutral-placeholder, 0.5);
    }
    &.devices-menu-row--left {
      .devices-menu-a {
        text-align: left;
        padding-left: 3%;
        padding-right: 25px;
      }
    }
    &.devices-menu-row--two {
      .devices-menu-a {
        width: 50%;
      }
    }
    &.devices-menu-row--three {
      .devices-menu-a {
        width: 33%;
      }
    }
    &.devices-menu-row--four {
      .devices-menu-a {
        width: 25%;
      }
    }
  }
  &-a {
    display: block;
    padding: 27px 0;
    text-align: center;

    border-right: 1px solid rgba($neutral-placeholder, 0.5);
    &:last-child{
      border: none;
    }
  }
}

// ------------------------
// --------devices---------
// ------------------------

.devices {
  &__title {
    margin-top: 50px;
  }
  &__devices-menu {
    margin-top: 50px;
  }
  @media   (max-width: $tableWidth) {
    display: none;
   }
}
// ------------------------
// ------devices-items-----
// ------------------------
 
.devices-items {
  margin-top: 200px;
  background: $neutral-secondary;
  @media (max-width: $tableWidth) {
    background: #fff;
  }
  @media (max-width: $desktopWidth){ 
    margin-top: 70px;
  }
  @media (max-width: $tableWidth) {
    margin-top: 0px;
  }
  &__title {
    font-weight: 400 !important;
    width: 100%;
    @media (max-width: $tableWidth) {
      order: 1;
    }
  }
  &-item {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    margin-bottom: 80px;
    @media   (max-width: $tableWidth) {
      @include flex(column-reverse, center, center);
      width: 100%;
      margin-top: 30px;
    } 
  }
  &-info {
    width: 50%;
    @media (max-width: $desktopWidth){ 
      width: 65%;
    }
    @media   (max-width: $tableWidth) {
      width: 100%;
    }
  }
  &-image {
    // margin-left: 20px;
    width: 48%;
    position: relative;
    @media (max-width: $desktopWidth){ 
      margin-top: 34px;
      width: 33%;
    } 
    @media (max-width: $tableWidth) {
      width: 80%;
      margin-bottom: 20px;
    }
    &:before {
      content: "";
      position: absolute;
      top: -124px;
      right: 0;
      width: 100%;
      z-index: -1;
      height: 49%;
      background-color:$neutral-secondary;
      border-radius: 100%;
      @media (max-width: $desktopWidth){ 
        top: -138px;
      }
      @media  (max-width: $tableWidth) {
        display: none;
      }
    }
    
  }
  &__table {
    margin-top: 20px;
  }
}


// ------------------------
// -----questionnaire-----
// ------------------------

.questionnaire {
  @include flex(row, space-between, center);
  margin-top: 40px;
  position: relative;
  background: url('../img/bg-questionnaire.png') 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 15px;
  padding: 26px 18px;

  overflow: hidden;
  @media   (max-width: $tableWidth) {
    padding: 14px 14px;
  }
  
  
  &.questionnaire--tablet {
    display: none;
    @media (max-width: $desktopWidth){ 
      display: flex;
    }
    .questionnaire__title {

      font-size: rem(28) !important; 
      line-height: rem(32) !important; 
      @media (max-width: $desktopWidth){ 
        font-weight: 400 !important;
        font-size: rem(24) !important;
        line-height: rem(28) !important;
      }

    }
    .questionnaire__btn {
      padding: 8px 34px;
      font-style: italic; 
      border-radius: 4px;
      @media   (max-width: $tableWidth) {
        padding: 8px 5px;
        font-size: 13px;
        border-radius: 5px;
      }
    }
    
  }
  
  & * {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($success-color, 0.9);
  }

  &__title {
    font-weight: 500 !important;
    font-size: rem(28) !important;
    line-height: rem(33) !important;
    @media (max-width: $desktopWidth){ 
      font-weight: 400 !important;
      font-size: rem(24) !important;
      line-height: rem(28) !important;
    }
    &.questionnaire__title--desktop {
      display: flex;
      @media   (max-width: $tableWidth) {
        display: none;
      }
    }
    &.questionnaire__title--mob {
      display: none;
      @media   (max-width: $tableWidth) {
        display: flex;
      }
    }
  }
  &__text {
    margin-top: 13px;
    color: $default-color;
    @media (max-width: $desktopWidth){ 
      font-weight: 400 !important;
      font-size: rem(16) !important;
      line-height: rem(19) !important;
    }
    @media   (max-width: $tableWidth) {
      margin-top: 0;
    }
  }
  &__btn {
    @media   (max-width: $tableWidth) {
      padding: 8px 5px;
      font-size: 13px;
      border-radius: 5px;
    }
  }

  &.questionnaire--yellow {
    @include flex(column, space-between, flex-start);
    .questionnaire {
      &__title {
        color: $mainFontColor;
        line-height: rem(42) !important;
        font-size: rem(36) !important;
      }
      &__btn {
        margin-top: 120px;
        align-self: flex-end;
        
      }
    }
    &:after {
      background-color: rgba($warning-color, 0.9);
    }
  }
}
