.drainage {
  &-descr {
    margin-top: 73px;
    margin-bottom: 66px;
    @media   (max-width: $phoneWidth) {
      margin-top: 40px;
      margin-bottom: 0;
    }
    &.drainage-descr--bottom {
      margin-top: 0;
      margin-bottom: 0;

      max-width: 53%;
      @media (max-width: $desktopWidth){ 
        max-width: 75%;
      }
      @media   (max-width: $tableWidth) {
        display: none;
      }
    }
  }
  &__table {
    margin-top: 26px;
    tbody {
      border-bottom: none;
    }
    .table-th-top {
      font-weight: 400;
    }
    .table-td:not(:first-child) {
      text-align: center;
      width: 125px;
      vertical-align: middle;
    }
  }
  &__devices-items {
    .devices-items-item:last-child {
      margin-bottom: 0;
    }
   .devices-items-image{
    position: relative;
    &:after { 
      content: url('../img/oval.png');
      position: absolute;
      transform: rotate(180deg);
      bottom: -150px;
      right: 0;
      width: 100%;
      z-index: -1;
      height: 49%;  
      opacity: 0.35;

      
      @media (max-width: $desktopWidth){ 
        content: "";
        position: absolute;
        bottom: -186px;
        right: 0;
        width: 100%;
        z-index: -1;
        height: 49%;
        background-color:$neutral-secondary;
        border-radius: 100%;
        opacity: 1;
      }
    }
   }

  }
}


.example {
  margin-top: 100px;
  @media   (max-width: $tableWidth) {
    margin-top: 20px;
  }
  &-images{
    margin-top: 28px;
    @include flex(row, space-between);
    @media (max-width: $desktopWidth){
      flex-wrap: wrap;
    }
  }
  &-img {
    width: 50%;
    @media (max-width: $desktopWidth){
      width: 75%;
      margin: auto;
    }
    @media   (max-width: $tableWidth) {
      width: 95%;
    }
  }
}