.drainage {
  &-descr {
    margin-top: 73px;
    &.drainage-descr--bottom {
      max-width: 53%;
      @media (max-width: $desktopWidth){ 
        max-width: 75%;
      }
      @media   (max-width: $tableWidth) {
        display: none;
      }
    }
  }
  &__table {
    margin-top: 26px;
    .table-td:not(:first-child) {
      text-align: center;
    }
  }
  &__devices-items {
    .devices-items-item:last-child {
      margin-bottom: 0;
    }
   .devices-items-image{
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -124px;
      right: 0;
      width: 100%;
      z-index: -1;
      height: 49%;
      background-color:$neutral-secondary;
      border-radius: 100%;
      @media (max-width: $desktopWidth){ 
        bottom: -224px;
      }
    }
   }

  }
}


.example {
  margin-top: 160px;
  @media   (max-width: $tableWidth) {
    margin-top: 20px;
  }
  &-images{
    margin-top: 28px;
    @include flex(row, space-between);
    @media (max-width: $desktopWidth){
      flex-wrap: wrap;
    }
  }
  &-img {
    width: 50%;
    @media (max-width: $desktopWidth){
      width: 75%;
      margin: auto;
    }
    @media   (max-width: $tableWidth) {
      width: 95%;
    }
  }
}