.fittings {
  &-descr {
    margin-top: 80px;
    @include flex(row, space-between, center);
    &-text{
      width: 75%;
      @media (max-width: $desktopWidth){
        width: 100%;
        @include flex(row, space-between, center);
        flex-wrap: wrap;
      }
    }
    &__text { 
      &.fittings-descr__text--1 {
        @media (max-width: $desktopWidth){
          width: 69%; 
        }
        @media   (max-width: $tableWidth) {
          width: 100%;
        }
      }
      &.fittings-descr__text--2 {
        @media (max-width: $desktopWidth){
         margin-top: 20px;
        }
        @media   (max-width: $tableWidth) {
          margin-top: 30px;
        }
      }
    }
    &-logo {
      &.fittings-descr-logo--tablet {
        display: none;
        width: 29%;
        @media (max-width: $desktopWidth){
          display: block;
        }
        @media   (max-width: $tableWidth) {
          width: 95%;
          margin-top: 30px;
        }
      }
    }
  }
  &__table {
    margin-top: 25px;
    &.fittings__table--first {
      .table-th-top {
        background-color: #F1F1F1;
        font-weight: 700;
        font-style: italic;
      }
      .table-item-name {
        white-space:  nowrap;
        font-size: rem(18);
        line-height: rem(21);
        min-width: 105px;
      }
    }
    &.fittings__table--second {
      .table-th-top {
        background-color: #F1F1F1;
        font-weight: 700;
        font-style: italic;
      }
      .table-item-name {
        font-size: rem(18);
        line-height: rem(21);
        min-width: 105px;
      }
    }
  }
  &__devices-items {
    .devices-items-item {
      margin-bottom: 32px;
    }
    .devices-items-info {
      width: 55%;
      @media (max-width: $desktopWidth){
        width: 68%;
      }
      @media   (max-width: $tableWidth) {
        width: 100%;
      }
      
    }
    .devices-items-image {
      width: 35%;
      margin-left: 10%;
      @media (max-width: $desktopWidth){
        margin-left: 0;
        width: 30%;
      }
      @media (max-width: $tableWidth){
        width: 75%;
      }
      &:before {
        content: "";
        position: absolute;
        // top: -88px;
        top: -124px;
        right: 0;
        width: 100%;
        z-index: -1;
        height: 39%;
        background-color:$neutral-secondary;
        border-radius: 100%;
        @media (max-width: $desktopWidth){
          top: -135px;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -129px;
        right: 0;
        width: 100%;
        z-index: -1;
        height: 44%;
        background-color:$neutral-secondary;
        border-radius: 100%;
      }
    }
  }
}