.footer {
  background: $primary-color;
  @media (max-width: $desktopWidth){
    display: none;
  }
  .container { 
    @include flex(row, space-between, center);
    flex-wrap: wrap;
  }

  &__nav {
    
    @include link_a($default-color);
    color: $default-color;
    background: $primary-color;
    font-weight: 300;
    width: 100%;
    padding: 15px 0;
  }
  &-hr {
    margin: 0;
  }
 
// ------------------------
// ------- info ---------
// ------------------------
  &-info {
    @include flex(row, space-between);
    padding: 57px 0;
    width: 100%;
  }
  &-search,
  &-contacts,
  &-address,
  &-copyright {
    @include flex(column, space-between, flex-start);
    height: 136px;
  }
// ------------------------
// ------contacts-block ---
  &__contacts-block {
    @include flex(column, space-between, flex-start);
    .tel {
      margin-bottom: 15px;
    }
    .btn { 
      margin-left: 0;
      margin-bottom: 30px;
    }
    .email {
      margin-left: 0;
    }
  }
}


.address,
.politics {
  @include flex(row, center, flex-start);
  &-icon {
    @include flex(row, center, center);
    margin-right: 8px;
    width: 30px;
  }
} 

// ------------------------
// -------copyright--------
// ------------------------
.copyright {
  &-rights {
    @include link_a($default-color);
    font-weight: 300;
    font-size: rem(14);
    color: $default-color;
  }
}
.design-studio {
  color: $success-color;
  font-weight: 500;
  font-size: rem(14);
}

/*
//----------------------
//-----MOBILE-----------
//----------------------
*/
.footer-mob {
  display: none;
  @media (max-width: $desktopWidth){
    display: block;
  }
  .footer-address-item {
    margin-bottom: 15px;
    font-size: rem(16);
  }
  .contacts-block__email {
    margin-left: 0;
  } 
  .design{
   @include link_a($success-color);
   margin-top: 88px;
  }
  .footer-copyright{
    width: 33%;
     
    }
  
  .footer-menu{
     width: 36%;
    }
  .footer-address{
    width: 30%; 
  } 
  .nav-logo{
    width: 73%;
  }
  .nav-menu {
    width: 100%;
  }
  .politics {
    @include flex(row, center, center);
  }

  
}
.footer {
  &__menu {
    
    @include link_a(#fff);
    font-weight: 300;
    font-size: rem(18);
    line-height: rem(21);
    transition: all 0.3s;
    .menu {
      &-ul {
        @include flex(column, flex-start, flex-start);
      }
      &-li {
        margin: 10px 0;
      }
    }
  }
}