.gas {
  margin-top: 40px;
  @media (max-width: $desktopWidth){
    margin-top: 20px;
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 20px;
    
  }
  &__title--h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &__ul {
    margin-top: 10px;
    margin-left: 26px;
  }
  &-double {
    @include flex(row, space-between, flex-start);
    margin-top: 40px;
    overflow: hidden;
    @media (max-width: $desktopWidth){
      flex-wrap: wrap; 
      margin-top: 20px; 
    }
    @media (max-width: $tableWidth){  
      margin-top: 0; 
    }
    &.gas-double--reverse {
      @media (max-width: $desktopWidth){
        flex-wrap: wrap-reverse;
      }
    }
  }
  &-img {
    @media (max-width: $desktopWidth){
      width: 100%;
    }
  }
  &-left,
  &-right {
    padding-bottom: 99999px !important;
    margin-bottom: -99999px !important;
    @media (max-width: $desktopWidth){
      padding-bottom: 40px !important;
      margin-bottom: 20px !important;
      width: 100%;
    }
  }
  &-image {
    width: 39%;
    @include flex(row, flex-end, flex-start);
    
  } 
 
  &__timeline {
    margin-top: 50px;
  }
  &-grey {
    background-color: #F1F1F1;
    padding: 60px 41px;
    width: 59%;
    &:not(:first-child){
      padding: 63px 40px;
      @media   (max-width: $tableWidth) {
        padding: 0;
        background-color: #fff;
       }
    }
    @media (max-width: $desktopWidth){
      width: 100%;
    }
    @media   (max-width: $tableWidth) {
      padding: 0;
      background-color: #fff;
     }
  }
  &-tables {
    @include flex(row, space-between, flex-start);
    @media (max-width: $desktopWidth){
      flex-wrap: wrap;
    }
  }
  &__table {
    .table-tr{
      &:nth-child(n+1){
        background-color: #fff;
      }
      &:nth-child(even) {
        background-color:  #F1F1F1;   
      }
      &.table-tr--green {
        background-color: rgba(67, 173, 72, 0.7);
      }
    }
    .table-td:not(:first-child) {
      text-align: center;
    }
    
    &.gas__table--small{
      width: 34%;
      @media (max-width: $desktopWidth){
        width: 100%;
        margin-top: 28px;
      }
      .table-item-name {
        width: 33%;
      }
    }
    &.gas__table--big{
      width: 64%;
      @media (max-width: $desktopWidth){
        width: 100%;
      }
    }
  }
}

.timeline {
  @include flex(row, space-between, flex-start);
  @media   (max-width: $tableWidth) {
    @include flex(column, center, center);
  }
  &-item{
    position: relative;
    @media   (max-width: $tableWidth) {
      margin-bottom: 30px;
    }
    
  }
  &-num {
    @include flex(column, center, center);
    position: relative;
    z-index: 2;
    @media   (max-width: $tableWidth) {
      @include flex(row, center, center);
    }
  }
  &-num-val{
    @include flex(row, center, center);
    color: $default-color;
    font-size: 36px;
    width: 58px;
    height: 58px;
    background-color: #F1F1F1;
    border-radius: 100%;
  }
  &-text{
    font-size: rem(18);
    margin-top: 20px;
    @media   (max-width: $tableWidth) {
      margin-top: 0;
      margin-left: 20px;
      margin-right: -50px;
      width: 118px;
    }
  }
  
  &-line{
    position: absolute;
    top: 30px;
    left: 80%;
    width: 230px;
    height: 4px;
    background-color:  #F1F1F1;
    z-index: 0;
    @media   (max-width: $desktopWidth) { 
      width: 150px;
    }
    @media   (max-width: $tableWidth) {
      top: 50px;
      left: 17%;
      width: 4px;
      height: 50px;
    }
  }
}