.main {
  background: url('../img/main-img.png') 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  
  @media (max-width: $desktopWidth){
    height: 680px;
    display: flex;
    align-items: center;
  }
  

  &.main--about {
    background: url('../img/bg-page-0.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: $desktopWidth){
      background: url('../img/bg-page-0-tablet.jpg') 0% 0% no-repeat ;
      background-size: cover;
    }
    .main{
      &__title{
        margin-bottom: 15px;
      }
      &__text {
        margin-bottom: 104px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.5);
    }
  }
  &.main--steam {
    background: url('../img/bg-page-1.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: $desktopWidth){
      background: url('../img/bg-page-1-tablet.jpg') 44% 0% no-repeat ;
      background-size: cover;
    }
    .main{
      &__title{
        margin-bottom: 120px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }
  &.main--devices {
    background: url('../img/bg-page-2.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        margin-bottom: 120px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }

  &.main--drainage {
    background: url('../img/bg-page-3.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        margin-bottom: 120px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }

  &.main--oil {
    background: url('../img/bg-page-4.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: $desktopWidth){
      background: url('../img/bg-page-4-tablet.jpg') 0% 0% no-repeat ;
      background-size: cover;
    }
    .main{
      &__title{
        margin-bottom: 120px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }
  &.main--gas {
    background: url('../img/bg-page-5.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: $desktopWidth){
      background: url('../img/bg-page-5-tablet.jpg') 0% 0% no-repeat ;
      background-size: cover;
    }
    .main{
      &__title{
        margin-bottom: 120px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }
  &.main--fittings {
    background: url('../img/bg-page-6.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: $desktopWidth){
      background: url('../img/bg-page-6-tablet.jpg') 0% 0% no-repeat ;
      background-size: cover;
    }
    .main{
      &__title{
        margin-bottom: 120px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba(#243F23, 0.3);
      @media (max-width: $desktopWidth){
        background: #233F3F;
        opacity: 0.4;
      }
    }
  }
  &.main--pumps {
    background: url('../img/bg-page-7.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        font-size: rem(50);
        margin-bottom: 120px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba(#243F23, 0.3);
    }
  }
  &.main--partners1 {
    background: url('../img/bg-page-8.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        font-size: rem(50);
        margin-bottom: 30px;
      }
      &__text {
        margin-bottom: 104px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba(#243F23, 0.3);
    }
  }
  &.main--partners2 {
    background: url('../img/bg-page-82.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        font-size: rem(50);
        margin-bottom: 30px;
      }
      &__text {
        margin-bottom: 104px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba(#243F23, 0.3);
    }
  }
  &.main--qlists {
    background: url('../img/bg-page-9.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        font-size: rem(50);
        margin-bottom: 120px;
      }
      &__text {
        margin-bottom: 104px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba(#243F23, 0.3);
    }
  }
  &.main--deliver {
    background: url('../img/bg-service-1.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        margin-bottom: 15px;
      }
      &__text {
        margin-bottom: 104px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }
  &.main--documentation {
    background: url('../img/bg-service-2.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        margin-bottom: 15px;
      }
      &__text {
        margin-bottom: 104px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }
  &.main--mounting {
    background: url('../img/bg-service-3.jpg') 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .main{
      &__title{
        margin-bottom: 15px;
      }
      &__text {
        margin-bottom: 104px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;   
      right: 0;
      bottom: 0;
      background-color: rgba($mainFontColor, 0.3);
    }
  }
  



  // .container {
  //   @include center($maxWidth-desk);
  // }
  &__title{
    margin-top: 128px;
  }
  &__subtitle{
    margin-top: 41px;
    width: 70%;
    @media (max-width: $desktopWidth){
      width: 100%;
    }
  }
  &-button-wrapper{
    margin-top: 52px;
    margin-bottom: 203px;
    width: 67%;
    @include flex(row, flex-end, center);
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;   
    right: 0;
    bottom: 0;
    background-color: rgba($mainFontColor, 0.6);
  }
}

/*
----------------------
-----catalog-menu-----
----------------------
*/

.catalog-menu {
  padding-top: 80px;

  .title-block {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    @media (max-width: $desktopWidth){
      @include flex(row, space-between, center);
    }
  }
  &__title {
    max-width: 390px;
    
  }
  &__text {
    max-width: 615px;
    @media (max-width: $desktopWidth){
      display: none;
    }
  }
  &__more {
    width: 100%;
    margin-top: 20px;
    @media (max-width: $desktopWidth){
      width: 170px;
      margin-top: 0;
    }
  }

  .items-block{
    @include flex(row, space-between, flex-start);
    margin-top: 18px;
    flex-wrap: wrap;
    
  }
}

.menu-card {
  width: 263px;
  margin-top: 42px;
  @include link_a($mainFontColor, 700);
  @media (max-width: $desktopWidth){
    width: 232px;
  }
  &-link {
    &.menu-card-link--img{
      width: 263px;
      height: 263px;
    }
  }
  .menu-card-img{
    object-fit: contain;
  }
}


/*
----------------------
-----services-menu-----
----------------------
*/
.services-menu {
  margin-top: 40px;
  .container {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
  }
  &__title {
    width: 262px;
    @media (max-width: $desktopWidth){
      width: 100%;
    }
  }
}

.service-card {
  @include link_a($mainFontColor, 700);
  width: 262px;
  height: 262px;
  @media (max-width: $desktopWidth){
    width: 232px;
    height: 232px;
    margin-top: 37px;
  }
  &-block {
    @include flex(column, center, center);
    border: 3px solid $mainFontColor;
    box-sizing: border-box;
    border-radius: 5px; 
    padding: 26px 13px
  }
  &-image {
    @include flex(column, center, center);
    width: 140px;
    height: 140px;
  }
  &-img {
    object-fit: contain;
  }
  &-text {
    margin-top: 16px;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(16);
  }
}

