.oil {
  &__title {
    margin-bottom: 20px;
    margin-top: 60px;
    
    &.oil__title--first { 
      margin-top: 80px;
      @media (max-width: $desktopWidth){
        margin-top: 40px;
      }
      @media (max-width: $desktopWidth){
        margin-top: 8px;
      }
    }
  }
  &__title--h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &__ul {
    margin-top: 10px;
    margin-left: 26px;
  }
  &-double {
    @include flex(row, space-between, flex-start);
    @media (max-width: $desktopWidth){ 
      flex-wrap: wrap;
    }
  }
  &-left,
  &-right {
    width: 49%;
    @media (max-width: $desktopWidth){ 
      width: 100%;
    }
  }
  &-img {
    @media (max-width: $desktopWidth){ 
      width: 100%;
    }
    &-tablet {
      display: none;
      width: 100%;
      margin-top: 15px;
      @media (max-width: $desktopWidth){ 
        display: block;
      }
    }
  }
}