.partners {
  .partners__title { 
    margin-top: 80px;
    @media (max-width: $desktopWidth){
      margin-top: 30px;
    }
    &:first-child {
      margin-top: 0;
      @media (max-width: $desktopWidth){
        margin-top: 0;
      }
    }
  }
  &.partners-page {
    margin-top: 30px;
  }
  
  .img-links-row {
    margin-top: 60px;
    @media   (max-width: $tableWidth) {
        margin-top: 20px; 
    }
  }

  .img-links-a {
    
    .img-links-img {
      max-height: 48px;
      @media   (max-width: $desktopWidth) {
        max-height: 38px;
      }

      &.mh40{
        max-height: 40px;
      }
      &.mh60 {
        max-height: 60px;    
      }
      &.mr200 {
        margin-right: 170px;
        @media   (max-width: $desktopWidth) {
          margin-right: 38px;
        }
      }
    }
    
  
  }
  .img-links-row--first {
    .img-links-a {
      margin-right: 68px;
      .img-links-img {
        @media   (max-width: $tableWidth) {
          max-height: 30px;
        }
      }
      @media   (max-width: $desktopWidth) {
        margin-right: 15px;
      }
      @media   (max-width: $tableWidth) {
        margin-right: 10px;
      }
    }
    @media   (max-width: $tableWidth) {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
    }
  }
  .img-links-row--second {
    .img-links-a {
      margin-right: 68px;
      .img-links-img {
        @media   (max-width: $tableWidth) {
          max-height: 30px;
        }
      }
      @media   (max-width: $desktopWidth) {
        margin-right: 15px;
      }
      @media   (max-width: $tableWidth) {
        margin-right: 10px;
      }
    }
    @media   (max-width: $tableWidth) {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
    } 
  }
  .img-links-row--ninth {
    @include flex(row, flex-start, center);
    .img-links-a {
      margin-right: 93px;
    }
  }
  .img-links-row--twelfth {
    @include flex(row, flex-start, center);
    .img-links-a {
      margin-right: 107px;
      .img-links-img {
        @media   (max-width: $tableWidth) {
          max-height: 30px;
        }
      }
      @media   (max-width: $desktopWidth) {
        margin-right: 15px;
      }
      @media   (max-width: $tableWidth) {
        margin-right: 10px;
      }
    }
    
    
  }
  .img-links-row--between {
    @include flex(row, space-between, center);
    @media   (max-width: $desktopWidth) {
      @include flex(row,flex-start, center);
      flex-wrap: wrap;
    }
    .img-links-a {
      margin-right: 35px;
      .img-links-img {
        @media   (max-width: $tableWidth) {
          max-height: 30px;
        }
      }
      @media   (max-width: $desktopWidth) {
        margin-right: 15px;
      }
      @media   (max-width: $tableWidth) {
        margin-right: 10px;
      }
    }
  }
  .img-links-row--partners {
    .img-links-a {
      margin-right: 35px;
      &:last-child{
        margin-right: 0;
      } 

      
    }
  }
  .img-links-row--wrap {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    @media   (max-width: $desktopWidth) {
      @include flex(row,flex-start, center);
      flex-wrap: wrap;
    }
    .img-links-a {
      margin-right: 0;
      .img-links-img {
        @media   (max-width: $tableWidth) {
          max-height: 30px;
        }
      }
      @media   (max-width: $desktopWidth) {
        margin-right: 15px;
      }
      @media   (max-width: $tableWidth) {
        margin-right: 10px;
      }
    }
  }
  .img-links-row--column {
    @include flex(column, flex-start, center);
    @media (max-width: $desktopWidth) {
      display: block;
    }
    &.img-links-row--column--hide-mob {
      @media   (max-width: $tableWidth) {
        display: none;
      }
    }
  }
}