.pumps {
  &-descr {
    margin-top: 80px;
    @media (max-width: $desktopWidth){
      margin-top: 40px;
    }
  }
  &-types {
    &-wrapper {
      @include flex(row,space-between);
    }
    &__devices {
      width: 68%;
      @media (max-width: $desktopWidth){
        width: 100%;
      }
    }
    &-questionnaire {
      width: 30%;
      @media (max-width: $desktopWidth){
        display: none;
      }
    }
  }

  &__devices-items {
    .devices-items-item {
      margin-bottom: 100px;
      @media   (max-width: $tableWidth) {
        margin-bottom: 40px;
      }
    }
    .devices-items-info {
      width: 54%;
      @media   (max-width: $tableWidth) {
        width: 100%;
      }
    }
    .devices-items-image {
      width: 44%;
      @media   (max-width: $tableWidth) {
        width: 100%;
      }
      &:before { 
        content: url('../img/p-oval.png');
        position: absolute;
        right: 0;
        width: 100%;
        z-index: -1;
        height: 49%;  
        opacity: 0.35;
        top: -136px;
        @media (max-width: $desktopWidth){ 
          content: "";
          position: absolute;
          top: -100px;
          right: 0;
          width: 100%;
          z-index: -1;
          height: 59%;
          background-color:$neutral-secondary;
          border-radius: 100%;
          opacity: 1;

        }
      }
      &:after { 
        content: url('../img/p-oval.png');
        position: absolute;
        transform: rotate(180deg);
        bottom: -290px;
        right: 0;
        width: 100%;
        z-index: -1;
        height: 49%;  
        opacity: 0.35;
  
        
        @media (max-width: $desktopWidth){ 
          content: "";
          position: absolute;
          bottom: -200px;
          right: 0;
          width: 100%;
          z-index: -1;
          height: 44%;
          background-color:$neutral-secondary;
          border-radius: 100%;
          opacity: 1;

        }
      }
    }

    .fittings__table {
      .table-th-top {
        font-style: normal;
        padding-left: 14px;
      }
      .table-td {
        font-size: 18px;
        line-height: 21.09px;
      }
    }
  }
  &__partners {
    margin-top: 40px;
    @media   (max-width: $desktopWidth) {
      margin-top: 20px;
    }
 
    .img-links-row--partners .img-links-a {
      @media   (max-width: $tableWidth) {
        margin-right: 5px;
      }
    }
  }
}