.accordion {
  background-color: rgba(190, 190, 190, 0.4);
  color: $mainFontColor;
  cursor: pointer;
  padding: 13px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: rem(24);
  line-height: rem(26);
  transition: 0.4s;
  position: relative;
  border-radius: 5px;
  @media (max-width: $phoneWidth){ 
    font-size: 16px ;
    line-height: 18px;
  }
  &-arrow {
    @include flex(row, center,center);
    position: absolute;
    width: 32px;
    height: 16px;
    top: calc(50% - 8px);
    right: 35px;

    transform: rotate(180deg);
    transition: all 0.3s;
    @media (max-width: $phoneWidth){ 
      width: 20px;
      right: 22px;
     }
  }
}

.qlists {
  margin-top: 80px;
  @media   (max-width: $desktopWidth) {
    margin-top: 43px;
  }
  @media (max-width: $tableWidth){ 
   margin-top: 20px;
  }
  .accordion:hover {
    background-color: #ccc;
  }
}

.panel { 
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &-item {
    @include flex(row, space-between, center);
    @include link_a($mainFontColor);
    background: rgba(190, 190, 190, 0.2);
    padding: 10px 40px;
    margin-bottom: 2px;
    @media   (max-width: $desktopWidth) {
      padding: 10px 20px; 
    }
    @media   (max-width: $tableWidth) {
      padding: 10px 12px;
    }
    &:last-child{
      border-bottom-left-radius: 3px;    
      border-bottom-right-radius: 3px;    
    }
  }
  &-name {
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(21);
    width: 25%;
    @media   (max-width: $desktopWidth) {
      font-weight: 400;
      width: 28%;
      align-self: flex-start;
    }
    @media   (max-width: $tableWidth) {
      width: 35%;
      font-size: 14px;
      line-height: 16px; 
      align-self:flex-start;
      font-weight: normal;
      width: 86%;
    } 
  }
  &-text {
    text-align: left;
    font-size: rem(18); 
    width: 60%;
    @media   (max-width: $desktopWidth) {
      padding: 0 10px;
      font-size: 14px;
      line-height: 16px; 
    }
    @media   (max-width: $tableWidth) {
      display: none;
    } 
  }
  &-link {
    text-decoration: underline;
    width: 110px;
    font-size: rem(18);
    font-style: italic;
    @media   (max-width: $desktopWidth) {
      font-size: 14px;
      line-height: 16px; 
      width: 85px;
    }
    @media   (max-width: $tableWidth) {
      width: 35%;
      font-size: rem(16);
    }
    &:hover {
      text-decoration: none;
    }
  }
}