.accordion {
  background-color: rgba(190, 190, 190, 0.4);;
  color: $mainFontColor;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: rem(36);
  transition: 0.4s;
  position: relative;
  border-radius: 5px;
  &-arrow {
    @include flex(row, center,center);
    position: absolute;
    width: 32px;
    height: 16px;
    top: calc(50% - 8px);
    right: 35px;

    transform: rotate(180deg);
    transition: all 0.4s;
  }
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel { 
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &-item {
    @include flex(row, space-between, center);
    @include link_a($mainFontColor);
    background: rgba(190, 190, 190, 0.2);
    padding: 9px 35px;
    margin-bottom: 2px;
    &:last-child{
      border-bottom-left-radius: 3px;    
      border-bottom-right-radius: 3px;    
    }
  }
  &-name {
    font-size: rem(18);
    line-height: rem(21);
    width: 25%;
  }
  &-text {
    text-align: left;
    font-size: rem(14); 
    width: 60%;
  }
  &-link {
    text-decoration: underline;
    width: 110px;
    font-size: rem(18);
    font-style: italic;
  }
}