.slider {
  &-wrapper {
    margin-top: 45px;
  }
  &-arrow {
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s;
    &:hover {
      filter: grayscale(0%);
    }
    &.slider-arrow--left {
      transform: rotate(180deg);
      position: absolute;
      left: calc(50% - 40px);
      bottom: -30px;
    }
    &.slider-arrow--right { 
      position: absolute;
      right: calc(50% - 40px);
      bottom: -30px;
    }

  }
  &-img {
    object-fit: cover;
  }
}
