/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #233F3F;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$maxWidth-desk           : 1140px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
$primary-color           : #113233; //
$success-color           : #43AD48; //
$danger-color            : #fc5c65;
$warning-color           : #FFCD1B; //
$light-color             : #365253; //
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #BEBEBE; //

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
