// Default table
table {
  width: 100%;
  line-height: 1.5em;
  border-collapse: separate;
  border-spacing: 2px 2px;
  background-color: #F1F1F1;
  thead th { 
    padding: 12px 14px;
    background-color:  #F1F1F1;
    white-space: nowrap; 
  }
  td {
    padding: 12px 14px;
  }
  tbody tr:nth-child(n+1) {
    background-color: #F1F1F1;   
  }
  tbody tr:nth-child(odd) {
    background-color:  #EAEAEA;   
  }
}


.table {
  @include link_a($mainFontColor);
  // &.table--catalog { }
  &-item-name {
    min-width: 160px;
    line-height: rem(21);
  }
  &-td {
    font-size: rem(14);
    line-height: rem(16);
  }
  &-th {
    font-style: italic;
  }
  &-link {
    vertical-align: middle;
    padding: 32px;
    min-width: 172px;
    text-decoration: underline;
    font-size: rem(18);
  }
}