// Default table
table {
  width: 100%;
  line-height: 1.5em;
  border-collapse: separate;
  border-spacing: 2px 2px;
  background-color: #F1F1F1;
  thead th { 
    padding: 12px 14px;
    background-color:  #F1F1F1;
    white-space: nowrap;
    @media (max-width: $desktopWidth){  
      padding: 7px 6px;
    }
    @media   (max-width: $tableWidth) {
      white-space: normal; 
    }
  }
  td {
    padding: 12px 14px;
    @media   (max-width: $tableWidth) {
      padding: 12px 2px;
    }
  }
  tbody tr:nth-child(n+1) {
    background-color: #F1F1F1;   
  }
  tbody tr:nth-child(odd) {
    background-color:  #EAEAEA;   
  }
}


.table {
  @include link_a($mainFontColor);
  // &.table--catalog { }
  &-item-name {
    min-width: 160px;
    line-height: rem(21);
    @media   (max-width: $tableWidth) {
      min-width: auto;
    }
  }
  &-td {
    font-size: rem(14);
    line-height: rem(16);
    &.table-td--three {
      position: relative;
    }
  }
  &-th {
    font-style: italic;
    @media   (max-width: $tableWidth) {
     font-size: 14px;
    }
  }
  &-tr {
    &.table-tr--green {
      background-color: $success-color;
      color: $default-color;
    }
  }
  &-th-top {
    padding: 7px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(21);
    color: $mainFontColor;
    background-color: #DCDFDF;

  }
  &-link {
    @include flex(column, center, center);
    vertical-align: middle;
    // padding: 32px;
    min-width: 172px;
    text-decoration: underline;
    font-size: rem(18);
    @media (max-width: $desktopWidth){ 
      min-width: auto;
      white-space: nowrap;
    }
    @media   (max-width: $tableWidth) {
     font-size: 12px;
    }
  }
  &-text-right {
    float: right;
    line-height: 21px;
  }
  &-text-center{
    width: 100%;
    position: absolute;
    bottom: 12px;
    left: 0;
    line-height: 21px;
    text-align: center;
  }
}