.title {
  font-weight: 700;
  font-size: rem(67);
  color: $default-color;
  line-height: 100%;
  &.title--h2 {
    font-weight: 700;
    font-size: rem(36);
    line-height: 108%;
    color: $mainFontColor;
  }
  &.title--h3 {
    font-weight: 600;
    font-size: rem(24);
    line-height: 109.19%;
    color: $mainFontColor;
  }
  &.title--white {
    color: $default-color;
  }
}

.subtitle {
  font-weight: 500;
  color: $default-color;
  font-size: rem(32);
  line-height: rem(37);
}